

/* REGRAS REDEFINIDAS DA PLANTILLA SPECTRAL */
	label {
		color: #fff;
		/*display: block;*/
		font-size: 0.9em;
		font-weight: 600;
		margin: 5em 0 1em 0;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="url"],
	select,
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		background: rgba(144, 144, 144, 0.25);
		border-radius: 3px;
		border: none;
		color: inherit;
		/*color: black;*/
		display: block;
		outline: 0;
		padding: 0 1em;
		text-decoration: none;
		width: 100%;
	}

	input[type="checkbox"] {
		width: 1em;
		height: 1em;
	}

	select {
overflow: hidden;
	}
	select option {
	    background: #2E3842;
	    color: inherit;
	}

		input[type="text"]:invalid,
		input[type="password"]:invalid,
		input[type="email"]:invalid,
		input[type="url"]:invalid,
		select:invalid,
		textarea:invalid {
			box-shadow: none;
		}

		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="email"]:focus,
		input[type="url"]:focus,
		select:focus,
		textarea:focus {
			box-shadow: 0 0 0 2px #21b2a6;
		}


/* OUTRAS REGRAS PROPIAS */
.js-datepicker {
    position: relative;
}
.js-datepicker:before {
	content: "\f000";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
/*	text-decoration: inherit;*/
/*--adjust as necessary--*/
	color: #000;
	font-size: 18px;
	padding-right: 0.5em;
	position: absolute;
	top: 10px;
	left: 0;
}








#form_error li {
	background-color: red;
	color: white;
	font-weight: bolder;
	list-style: none;
}

#aceptar {
	background-color: green;
	color: white;
	font-weight: bolder;
}

#borrar {
	cursor: pointer;
}

span.trophy {
	color: gold;
}
span.liked {
	color: gold;
	cursor: pointer;
}

span.unliked {
	cursor: pointer;
}

span.loved {
	color: red;
	cursor: pointer;
}

span.unloved {
	cursor: pointer;
}

span.seen {
	color: navy;
	cursor: pointer;
}

span.unseen {
	cursor: pointer;
}
