{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{% extends "layout.html.twig" %}

{% block content %}
{{ parent() }}

		<section id="one" class="wrapper style2">
			<div class="inner">
				<h2><span class="fa fa-thumbs-o-up" style="color: #ED4933;"></span>
		    Vídeo engadido correctamente!</h2>
				<p>O vídeo foi publicado automáticamente sen usuario asignado.</p>


					{{ include('/includes/videoDetalle.html.twig') }}


					<ul class="actions">
						<li><a href="{{ path('videos') }}" class="button special">Vídeos</a></li>
						<li><a href="{{ path('admin_engadir_video') }}" class="button special">Engadir outro vídeo</a></li>
					</ul>
		</div>
	</section>
{% endblock %}

{% block javascripts %}
{{ parent() }}

{{ include('/includes/videoDetalleScript.js.twig') }}

{% endblock javascripts %}
