{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{% extends "layout.html.twig" %}

{% block content %}
{{ parent() }}
		<section id="one" class="wrapper style2">
			<div class="inner">

				<h2><span class="fa fa-video-camera" style="color: #ED4933;"></span>
		    Engade un vídeo</h2>

				{% if video.status == "EXISTE" %}
				{### PRESENTA O VÍDEO INCRUSTADO ###}
				  <div id="player" style="height:190px">
				  {% if video.provider == "VIMEO" %}
				    <iframe src='https://player.vimeo.com/video/{{ video.urlId }}' width='320' height='180' frameborder='0' webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				  {% else %}
				    <iframe width="320" height="180" src="https://www.youtube.com/embed/{{ video.urlId }}" frameborder="0" allowfullscreen></iframe>
				  {% endif %}
				  </div>
				{% endif %}

				<p>* Campos obrigatorios</p>

				{{ form_start(form) }}
					<div id="form_error">{{ form_errors(form) }}</div>
		{% if video.status != "EXISTE" %}

					{{ form_row(form.url) }}
					<p>Dirección web do vídeo en Vimeo ou Youtube.</p>
					{{ form_widget(form.educationLevel, {'attr': {'style': 'display:none'}}) }}
					{{ form_widget(form.school, {'attr': {'style': 'display:none'}}) }}
					{#{{ form_widget(form.username, {'attr': {'style': 'display:none'}}) }}#}
					<input id="btnEnviar" type="submit" value="Enviar Vídeo" class="special" />
		{% else %}
				{{ form_row(form.title) }}

				{{ form_row(form.educationLevel) }}

				{{ form_row(form.school) }}
				<p><a href="https://www.edu.xunta.es/centroseducativos/" target="_blank">
					Buscador de Centros</a>.</p>

				{#{{ form_widget(form.username, {'attr': {'style': 'display:none'}}) }}#}

				{{ form_row(form.description) }}

				{{ form_row(form.comments) }}

				<input id="btnEnviar" type="submit" value="Engadir Vídeo" class="special" />

	{% endif %}

				{{ form_end(form) }}

				<ul class="actions">
					<li><a href="" class="button special" onclick="window.history.back(); return false;">Voltar</a></li>
				</ul>

		</div>
	</section>
{% endblock content %}


{% block javascripts %}
{{ parent() }}

{# SE O VÍDEO TEN ESTADO ENTÓN ESTAMOS NO PASO 2. #}
{% if video.status %}

{# USAMOS TINYMCE PARA OS TEXTAREA DE description E comments. #}
		<script src="{{ asset('assets/js/tinymce/tinymce.min.js') }}"></script>
		<script>tinymce.init({
			selector:'#admin_video_description, #admin_video_comments',
			plugins : 'advlist autolink link image lists charmap print preview code',
			height : 150,
			language: 'gl'
		});
		</script>
	{% endif %}
{% endblock javascripts %}
