{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}
<h2><span class="fa fa-user" style="color: #ED4933;"></span>
   Borrar Usuari@
 </h2>


<div>
<p>Estás a piques de borrar o usuari@ <b>{{ user.username }}</b>. <p/>
<p>Se decides continuar borraranse, xunto cos teus datos de usuari@, todas as marcas que fixeras en vídeos da base de datos.
   Asemade, os vídeos que estiveran asociados ao teu nome de usuari@ deixarán de estalo, e serás redirixid@ á páxina de inicio do sitio web.</p>
<h4>Estás segur@ de querer continuar?</h4>
<p><b>Ollo! Esta acción non se pode desfacer!</b></p>

<ul class="actions">
  <li><a href="{{ path('user_delete_confirm') }}" class="button special">Sí, quero borrar esta conta</a></li>
  <li><a href="" class="button special" onclick="window.history.back(); return false;">Cancelar e Voltar</a></li>
</ul>

</div>
{% endblock fos_user_content %}
