{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}
<h2><span class="fa fa-user" style="color: #ED4933;"></span>
   Usuari@ eliminad@
 </h2>


<div>
<p>A conta de usuari@ <b>{{ user.username }}</b> foi eliminada da base de datos.<p/>

<ul class="actions">
  <li><a href="{{ path('index') }}" class="button special">Voltar á páxina de Inicio</a></li>
</ul>

</div>
{% endblock fos_user_content %}
