{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{% trans_default_domain 'FOSUserBundle' %}

<h2><span class="fa fa-user" style="color: #ED4933;"></span>
  Editar Perfil
</h2>
{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    <div id="form_error">{{ form_errors(form) }}</div>
      <h3>Datos de Usuari@</h3>
      {{ form_row(form.username) }}
      <p>O teu nome de usuario. Podes cambialo se elixes outro que estea libre.</p>

      {{ form_row(form.email) }}
      <p>O teu correo electrónico principal, onde recibirás os correos que enviemos.</p>

      {{ form_row(form.email2) }}
      <p>Un correo electrónico alternativo. Podes utilizalo no inicio de sesión.</p>

      {{ form_row(form.email3) }}
      <p>Outro correo alternativo. Tamén o podes utilizar para iniciar sesión.</p>

      {{ form_row(form.notification) }} <br/>
      <p>Comunicacións no correo electrónico principal sobre concursos, vídeos e outras novidades.</p>


      <h3>Datos persoais</h3>

      {{ form_row(form.name) }}

      {{ form_row(form.surname) }}

      {{ form_row(form.phone) }}
      <p>É útil para que os organizadores dos concursos se poñan en contacto contigo.</p>

      {{ form_row(form.web) }}
      <p>Algún sitio que promocionar?</p>

      {{ form_row(form.school) }}
      <p>O teu centro educativo. Se o que se aigne por defecto aos traballos
        audiovisuais que inscribas na web.</p>

      {{ form_row(form.current_password) }}
      <p>Tes que verificar o teu contrasinal para actualizar os teus datos.</p>

    <br />
    <div>
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}"  class="special" />
        <input type="button" value="Cancelar" onclick="window.history.back(); return false;" class="special" />
    </div>
{{ form_end(form) }}
