{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{% trans_default_domain 'FOSUserBundle' %}

<h2><span class="fa fa-user" style="color: #ED4933;"></span>
   Perfil de Usuari@
 </h2>
{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

{##############  INFORMACIÓN BÁSICA ################}
<div class="fos_user_user_show">
<h3>Datos de Usuari@</h3>
<ul>
<li><b>{{ 'profile.show.username'|trans }}:</b> {{ user.username }}</li>
<li><b>{{ 'profile.show.email'|trans }}:</b> <a href="mailto:{{ user.email }}">{{ user.email }}</a></li>
{% if user.email2 %}
  <li><b>Correo-e 2:</b> <a href="mailto:{{ user.email2 }}">{{ user.email2 }}</a></li>
{% endif %}
{% if user.email2 %}
  <li><b>Correo-e 3:</b> <a href="mailto:{{ user.email3 }}">{{ user.email3 }}</a></li>
{% endif %}
<li><b>Recibir notificacións?</b> {{ user.notification ? 'Sí' : 'Non' }}</li>

<li><b>Rol/es:</b>
  {% for rol in user.roles %}
    {% if rol == "ROLE_ADMIN"%}
        <span title="Admin" class="icon fa-institution" style="color: silver;"></span>
    {% endif %}
    {% if rol == "ROLE_TEACHER"%}
        <span title="Profe" class="icon fa-graduation-cap" style="color: gold;"></span>
    {% endif %}
    {% if rol == "ROLE_USER"%}
        <span title="Usuari@" class="icon fa-user" style="color: lime;"></span>
    {% endif %}
  {% endfor %}
</li>

{#<li><b>Data Rexistro:</b> {{ user.registrationDateTime }}</li>
<li><b>Último acceso:</b> {{ user.lastLogin }}</li>#}
</ul>

<ul class="actions">
  <li><a href="{{ path('fos_user_change_password') }}" class="button special">Mudar Contrasinal</a></li>
  <li><a href="{{ path('user_delete') }}" class="button special">Borrar Usuari@</a></li>
</ul>



<h3>Datos Persoais</h3>
<ul>
<li><b>Nome e apelidos:</b> {{ user.name }} {{ user.surname }}</li>
<li><b>Teléfono:</b> {{ user.phone }}</li>
<li><b>Web:</b> <a href="{{ user.web }}">{{ user.web }}</a></li>

<li><b>Centro educativo:</b>
  {% if user.school %}<a href="{{ path('escola', {'schoolId': user.school.id}) }}">{% endif %}
  {{ user.school }}
  {% if user.school %}</a>{% endif %}
</li>

</ul>

<ul class="actions">
  <li><a href="edit" class="button special">Editar Perfil</a></li>
  <li><a href="{{ path('fos_user_security_logout') }}" class="button special">Saír</a></li>
</ul>


{##############  MARCAS REALIZADAS  ################}
{% if  app.user.marks and app.user.marks|length > 0 %}
  <h3>Vídeos marcados: {{ user.marks|length }}</h3>
{% endif %}


{########### CONCURSOS ORGANIZADOS POLO USUARIO ###########}
{% if  app.user.contests and app.user.contests|length > 0 %}
  {# Si el usuario organiza un concurso abierto puede seleccionar o deseleccionar el vídeo #}
  <h3>Concursos organizados ({{ app.user.contests|length }})</h3>
  <ul>
  {% for contest in app.user.contests %}
    <li><a href="{{ path('concurso_ver', {'contestId': contest.id}) }}">{{ contest.name }}</a></li>
  {% endfor %}
</ul>
{% endif %}


{########### VIDEOS INSCRITOS POLO USUARIO ###########}
{% if videos %}
  <h3>Vídeos Inscritos ({{ videos|length }})</h3>
			<div class="table-wrapper">
				<table id="example" class="compact stripe hover row-border order-column nowrap" cellspacing="0" width="100%">
					<thead>
						<tr>
              {#<th></th>#}
              <th>
                {% if is_granted('ROLE_ADMIN') %}
                    <span title="Editar" class="fa fa-edit"></span>
                {% endif %}
                <span title="Visto" class="fa fa-eye" style="color:navy"></span>
                <span title="Favorito" class="fa fa-star" style="color:gold"></span>
                <span title="Encántame!!" class="fa fa-heart" style="color:red"></span>
                <span title="Premios" class="fa fa-trophy" style="color:gold"></span>
              </th>
							<th>Título</th>
							<th>Estado</th>
              <th>Duración</th>
							<th>Data Inscrición</th>
						</tr>
					</thead>
					<tbody>
	{% for video in videos %}
				      <tr>
                {### CALCULA SUMA DE LIKES, LOVES E COMPROBA AS MARCAS DO USUARIO ###}
                {% set likes, loves = 0, 0 %}
                {% set liked, loved, seen = 0, 0, 0 %}

                {% if video.marks %}
                  {% for mark in video.marks %}
                      {% if mark.loved %} {% set loves = loves + 1 %} {% endif %}
                      {% if mark.liked %} {% set likes = likes + 1 %} {% endif %}
                      {% if mark.user == app.user %}
                        {% if mark.loved %} {% set loved = 1 %} {% endif %}
                        {% if mark.liked %} {% set liked = 1 %} {% endif %}
                        {% if mark.seen %} {% set seen = 1 %} {% endif %}
                      {% endif %}
                  {% endfor %}
                {% endif %}

                {### ESTABLECE O CRITERIO DE ORDENACIÓN DAS MARCAS ###}
                {% set order = loves ~ likes ~ video.awards|length %}
                <td data-order="{{ order }}">
                  {% if is_granted('ROLE_ADMIN') %}
                      <a href="{{ path('video_editar', {'videoId': video.id}) }}">
                      <span title="Editar" class="fa fa-edit"></span></a>
                  {% endif %}
                  {% if seen %}
                    <span class="seen v{{ video.id }} fa fa-eye" title="Marcar como non visto"></span>
                  {% else %}
                    <span class="unseen v{{ video.id }} fa fa-eye-slash" title="Marcar como visto"></span>
                  {% endif %}

                  {% if liked %}
                    <span class="liked v{{ video.id }} fa fa-star" title="({{ likes }}) Eliminar de favoritos"></span>
                  {% else %}
                    <span class="unliked v{{ video.id }} fa fa-star-o" title="({{ likes }}) Gardar como favorito"></span>
                  {% endif %}

                  {% if loved %}
                    <span class="loved v{{ video.id }} fa fa-heart" title="({{ loves }}) Xa non me encanta :("></span>
                  {% else %}
                    <span class="unloved v{{ video.id }} fa fa-heart-o" title="({{ loves }}) Encántame!!"></span>
                  {% endif %}

                  {% if video.awards %}
                    {% for award in video.awards %}
                       <span title="{{ award.contest.name }} - {{ award.name }}" class="fa fa-trophy" style="color:gold"></span>
                    {% endfor %}
                  {% endif %}

                </td>
								<td data-order="{{ video.title }}" data-search="{{ video.title }}">
									<a href="{{ path('video_ver', {'videoId': video.id}) }}" title="{{ video.description|e }}">
										{{ video.title }}
									</a>
								</td>
                <td>
										{{ video.status }}
								</td>

								<td>{{ video.duration|date('i:s') }}</td>
                <td data-order="{{ video.registrationDateTime|date('Y-m-d') }}">{{ video.registrationDateTime|date('d-m-Y') }}</td>
							</tr>
	{% endfor %}
					</tbody>
					<tfoot>
						<tr>
						</tr>
					</tfoot>
				</table>
			</div>


{% else %}
			<h3>Aínda non tes vídeos inscritos.</h3>
{% endif %}

  <ul class="actions">
  	<li><a href="{{ path('video_novo') }}" class="button special">Inscribir Vídeo</a></li>
  	<li><a href="" class="button special" onclick="window.history.back(); return false;">Voltar</a></li>
  </ul>

</div>
{% endblock fos_user_content %}
