{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{# base.html.twig #}
<!DOCTYPE HTML>
<html>
    <head>
        {% block meta %}<meta charset="UTF-8" />{% endblock %}
        <title>{% block title %}Olloboi - Festival Audiovisual Escolar{% endblock %}</title>

        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('images/logo50.jpg') }}" />
    </head>
    <body {% block bodyclass %}{% endblock %}>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
