{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{# index2.html.twig #}
{% extends 'layout.html.twig' %}

{% block content %}
{{ parent() }}
<section id="videos" class="wrapper style2">
	<div class="inner">
		<h2><span class="fa fa-film" style="color: #ED4933;"></span>
    Benvid@!!</h2>
		<p>Estás no principal repositorio do audiovisual escolar galego! Aquí atoparás centos de vídeos realizados desde escolas de toda Galicia.
			Pérdete entre os traballos premiados en diferentes concursos e navega desde o listado de escolas pola variada xeografía galega.
			<br />Rexístrate e mantente ao día das novidades, marca os teus vídeos favoritos, ou aqueles que xa viches.
			<br />Queres ser algo máis que un/ha espectador/a? Participa e inscribe os teus propios vídeos!
			<br />E se queres aínda máis.. atreveríaste a organizar o teu propio concurso audiovisual?? Aquí che proporcionaremos ferramentas que che facilitarán o traballo. A que estás gardando?</p>
		<h3>Algúns vídeos premiados!</h3>
		<p>
		{% for video in videos %}
			<a href="{{ path('video_ver', {'videoId': video.id}) }}">
					 <img src="{{ video.urlThumbnail }}" width="120" height="90"
								alt="{{ video.title }}"  style="border: 3px solid gold; max-width: 100%; height: auto; valign:center;"
								title="{{ video.title }}{% for award in video.awards %} - {{ award.name }} ({{award.contest.name }}) {% endfor %}" />
					</a>
		{% endfor %}
		</p>
		<p><a href="{{ path('videos') }}" class="button special">Todos os Vídeos</a></p>
		<hr />


		<h3>Concursos abertos!</h3>
		<p>
		{% for contest in contests %}
			<a href="{{ path('concurso_ver', {'contestId': contest.id}) }}">
				{{ contest.name }}
			</a>
		{% endfor %}
		</p>
		<p><a href="{{ path('concursos') }}" class="button special">Todos os Concursos</a></p>
		<hr />


		<h3>Algunhas Escolas!</h3>
		<ul>
		{% for school in schools %}
			<li><a href="{{ path('escola', {'schoolId': school.id}) }}">
				{{ school.name }} - {{ school.town }}, {{ school.province }}</br>
			</a></li>
		{% endfor %}
	</ul>
		<p><a href="{{ path('escolas') }}" class="button special">Todas as Escolas</a></p>

	</div>
</section>

{#
			<section id="one" class="wrapper alt style2">
				<section class="spotlight">
					<div class="image"><a target="_blank" href="https://youtu.be/m4164zp--04"><img src="https://i.ytimg.com/vi/m4164zp--04/hqdefault.jpg" alt="Queremos galego" /></a></div><div class="content">
						<h2>Audiovisual Escolar</h2>
						<p>
							<audio controls>
						   <source src="{{ asset('media/QueremosGalego.mp3') }}" type="audio/mpeg">
						 Your browser does not support the audio element.
						 </audio>
						</p>
					</div>
				</section>


				<section class="spotlight">
					<div class="image"><a target="_blank" href="https://youtu.be/18J0rs1PLRg"><img src="https://i.ytimg.com/vi/18J0rs1PLRg/hqdefault.jpg" alt="Ai meu ghato" /></a></div><div class="content">
						<h2>Recopilación e difusión</h2>

					</div>
				</section>

				<section class="spotlight">
					<div class="image"><a target="_blank" href="https://youtu.be/WWAw8XTYbQs"><img src="https://i.ytimg.com/vi/WWAw8XTYbQs/hqdefault.jpg" alt="Señor Ramón e Señora Ramona" /></a></div><div class="content">
						<h2>Motivación e recoñecemento</h2>

					</div>
				</section>

				<section class="spotlight">
					<div class="image"><a target="_blank" href="https://vimeo.com/127241733"><img src="https://i.vimeocdn.com/video/517989278_640.jpg" alt="Maruxa" /></a></div><div class="content">
						<h2>Crear, compartir, aprender</h2>

					</div>
				</section>

				<section class="spotlight">
					<div class="image"><a target="_blank" href="https://vimeo.com/31535420"><img src="https://i.vimeocdn.com/video/215338237_640.jpg" alt="A Lingua sabe a Pan" /></a></div><div class="content">
						<h2>Olloboi, un proxecto de tod@s</h2>

					</div>
				</section>

			</section>


#}



{% endblock %}
