{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{# index.html.twig #}
{% extends 'layout.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<style>
#main > header {
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("{{ asset('images/desenho2016.png') }}");
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("{{ asset('images/desenho2016.png') }}");
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("{{ asset('images/desenho2016.png') }}");
	background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("{{ asset('images/desenho2016.png') }}");
}
body.landing #page-wrapper {
		background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("{{ asset('images/desenho2016.png') }}");
		background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("{{ asset('images/desenho2016.png') }}");
		background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("{{ asset('images/desenho2016.png') }}");
		background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("{{ asset('images/desenho2016.png') }}");
}
body.is-mobile.landing #banner,
body.is-mobile.landing .wrapper.style4 {
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("{{ asset('images/desenho2016.png') }}");
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("{{ asset('images/desenho2016.png') }}");
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("{{ asset('images/desenho2016.png') }}");
	background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("{{ asset('images/desenho2016.png') }}");
}
</style>
{% endblock %}


{% block bodyclass %}class="landing"{% endblock %}
{% block headerclass %}class="alt"{% endblock %}

{% block content %}
{{ parent() }}
	<!-- Banner -->
		<section id="banner">
			<header>
			<div class="inner">
				<h2>Olloboi</h2>
				<p>Festival<br />
				Audiovisual<br />
				Escolar</p>
			</div>
				<ul class="actions">
					{#<li><a href="{{ path('olloboi') }}" class="button special">Sobre Olloboi</a></li>#}
					<li><a href="{{ path('concursos') }}" class="button special">Concursos</a></li>
					<li><a href="{{ path('videos') }}" class="button special">Vídeos</a></li>
					<li><a href="{{ path('escolas') }}" class="button special">Escolas</a></li>
				</ul>
			</header>
			<a href="#one" class="more scrolly">Continúa...</a>
		</section>


			<section id="one" class="wrapper alt style2">
				<section class="spotlight">
					<div class="image"><a target="_blank" href="https://youtu.be/m4164zp--04"><img src="https://i.ytimg.com/vi/m4164zp--04/hqdefault.jpg" alt="Queremos galego" /></a></div><div class="content">
						<h2>Audiovisual Escolar</h2>
						<p>
							<audio controls>
						   <source src="{{ asset('media/QueremosGalego.mp3') }}" type="audio/mpeg">
						 Your browser does not support the audio element.
						 </audio>
						</p>
					</div>
				</section>


				<section class="spotlight">
					<div class="image"><a target="_blank" href="https://youtu.be/18J0rs1PLRg"><img src="https://i.ytimg.com/vi/18J0rs1PLRg/hqdefault.jpg" alt="Ai meu ghato" /></a></div><div class="content">
						<h2>Recopilación e difusión</h2>

					</div>
				</section>

				<section class="spotlight">
					<div class="image"><a target="_blank" href="https://youtu.be/WWAw8XTYbQs"><img src="https://i.ytimg.com/vi/WWAw8XTYbQs/hqdefault.jpg" alt="Señor Ramón e Señora Ramona" /></a></div><div class="content">
						<h2>Motivación e recoñecemento</h2>

					</div>
				</section>

				<section class="spotlight">
					<div class="image"><a target="_blank" href="https://vimeo.com/127241733"><img src="https://i.vimeocdn.com/video/517989278_640.jpg" alt="Maruxa" /></a></div><div class="content">
						<h2>Crear, compartir, aprender</h2>

					</div>
				</section>

				<section class="spotlight">
					<div class="image"><a target="_blank" href="https://vimeo.com/31535420"><img src="https://i.vimeocdn.com/video/215338237_640.jpg" alt="A Lingua sabe a Pan" /></a></div><div class="content">
						<h2>Olloboi, un proxecto de tod@s</h2>

					</div>
				</section>

			</section>






{% endblock %}
