{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{# layout.html.twig #}
{% extends 'base.html.twig' %}


{% block meta %}
{{ parent() }}
	<meta name="viewport" content="width=device-width, initial-scale=1" />
{% endblock meta %}


{% block stylesheets %}
{{ parent() }}
	<link rel="stylesheet" href="{{ asset('assets/css/main.css') }}" />
	<link rel="stylesheet" href="{{ asset('assets/css/custom.css') }}" />
	{#######  CSS DATATABLES #####}
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
	<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/customDatatables.css') }}">
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ asset('assets/css/ie8.css') }}" /><![endif]-->
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ asset('assets/css/ie9.css') }}" /><![endif]-->

	<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
{% endblock stylesheets %}


{% block javascripts %}
{{ parent() }}
	<!--[if lte IE 8]><script src="{{ asset('assets/js/ie/html5shiv.js') }}"></script><![endif]-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	{#<script src="{{ asset('assets/js/jquery.min.js') }}"></script>#}
	{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>#}
	{#<script src="https://code.jquery.com/jquery-1.9.1.js"></script>#}
	<script src="https://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
	<script src="{{ asset('assets/js/jquery.scrollex.min.js') }}"></script>
	<script src="{{ asset('assets/js/jquery.scrolly.min.js') }}"></script>
	<script src="{{ asset('assets/js/skel.min.js') }}"></script>
	<script src="{{ asset('assets/js/util.js') }}"></script>
	<!--[if lte IE 8]><script src="{{ asset('assets/js/ie/respond.min.js') }}"></script><![endif]-->
	<script src="{{ asset('assets/js/main.js') }}"></script>

{% endblock javascripts %}


{% block body %}
<!-- Page Wrapper -->
<div id="page-wrapper">

	<!-- Header -->
	<header id="header" {% block headerclass %}{% endblock %}>
		<h1><a href="/">Olloboi</a></h1>
		<nav id="nav">
			<ul>
			<li class="special">
				<a href="#menu" class="menuToggle"><span>Menu</span></a>
				<div id="menu">
					<ul>
						<li><a href="{{ path('index') }}">Inicio</a></li>
						<li><a href="{{ path('olloboi') }}">Sobre Olloboi</a></li>
						<li><a href="{{ path('concursos') }}">Concursos</a></li>
						<li><a href="{{ path('videos') }}">Vídeos</a></li>
						<li><a href="{{ path('escolas') }}">Escolas</a></li>
						{# <li><a href="{{ path('arquivo') }}">Arquivo</a></li> #}

						{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
						<li><a href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}</a></li>
						{# <li><a href="{{ path('video_novo') }}">Novo Vídeo</a></li> #}
								{% if is_granted("ROLE_ADMIN") %}
										<li><a href="{{ path('admin') }}">Admin</a></li>
								{% endif %}
								<li><a href="{{ path('fos_user_security_logout') }}">Saír</a></li>
            {% else %}
								{# <li><a href="{{ path('fos_user_registration_register') }}">Rexistrarse</a></li> #}
								<li><a href="{{ path('fos_user_security_login') }}">Entrar</a></li>
            {% endif %}
					</ul>
				</div>
			</li>
			</ul>
		</nav>
	</header>


{% block content %}



{% endblock content %}

	<!-- Footer -->
	<footer id="footer">
		<ul class="icons">
			<li><a href="http://blog.olloboi.com/" class="icon fa-wordpress"><span class="label">Wordpress</span></a></li>
			<li><a href="http://www.facebook.com/pages/OlloBoi/194661663888855" class="icon fa-facemybook"><span class="label">Facebook</span></a></li>
			<li><a href="http://videoteca.olloboi.com" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
			<li><a href="http://www.youtube.com/user/RodaxeObradoiro" class="icon fa-youmytube"><span class="label">Youtube</span></a></li>
			<li><a href="http://twitter.com/olloboi" class="icon fa-twimytter"><span class="label">Twitter</span></a></li>
			<li><a href="http://instagram.com/olloboi" class="icon fa-mygram"><span class="label">Instagram</span></a></li>
			<li><a href="mailto:info@olloboi.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
		</ul>
		<ul class="copyright">
			<li><a href="{{ path('condicions_uso') }}">Condicións de uso</a></li>
		</ul>
		<ul class="copyright">
			<li><a href="https://creativecommons.org/" class="icon fa-creative-commons"><span class="label">Creative Commons</span></a> Olloboi</li>
			<li>Deseño con <span class="icon fa-heart"></span> baseado en <a href="http://html5up.net">HTML5 UP</a></li>
		</ul>
	</footer>

</div>

{% endblock body %}
