{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{# about.html.twig #}
{% extends 'layout.html.twig' %}

{% block content %}
{{ parent() }}

<!-- Main -->
<article id="main">
	<section class="wrapper style5">
		<div class="inner">

			<h3>Condicións de uso</h3>

<h4>Inscrición de vídeos</h4>
<ol>
	<li>Poderá inscribir vídeos calquera persoa ou grupo de persoas que pertenza ó ámbito escolar, incluíndo alumnado, profesorado, nais e pais e PAS. Os/As menores de 18 anos farano baixo a responsabilidade do seu titor ou titora legal.</li>
	<li>Para inscribir vídeos será preciso rexistrarse e identificarse na plataforma.</li>
	<li>Os vídeos deberán estar accesibles a todo o público en Internet, aloxados en <a href="https://vimeo.com/">Vimeo</a> ou en <a href="https://www.youtube.com/">Youtube</a>. Non se aceptarán vídeos privados.</li>
	<li>A web está <em>dirixida a todos os niveis educativos</em>: Infantil, Primaria, Secundaria, Bacharelato, Formación Profesional, Universidade e Escolas Audiovisuais.</li>
	<li>A temática e lingua dos traballos será libre, aínda que <em>se valora o uso do idioma galego, a sensibilidade medioambiental e social e o respecto ós dereitos dos animais</em>.</li>
	<li>Recoméndase que todas as imaxes, audios e outros recursos utilizados nos vídeos sexan propiedade dos autores do vídeo ou de código aberto (CC).
	    Se se utilizan recursos con dereitos de autor, a responsabilidade de uso dos mesmos recaerá sobre os creadores da peza audiovisual.</li>
	<li>Coa inscrición dun vídeo os seus autores consinten na divulgación do material na rede, sempre co recoñecemento da súa autoría e dos seus dereitos
		 (recoméndase que os rexistren baixo licenza <a href="https://gl.wikipedia.org/wiki/Creative_Commons">Creative Commons</a>).</li>
	<li>Os vídeos inscritos deberán pasar un proceso de revisión por parte do equipo administrador da web antes de facelos públicos na plataforma.</li>
	<li>No caso de que o vídeo inscrito sexa rexeitado por incumplir algunha destas condicións, comunicaráselle á persoa que o inscribíu indicando os motivos do rexeitamento
	    para que poida realizar as modificacións oportunas.</li>
	<li>Os vídeos inscritos e aceptados polo equipo administrador da web poderán ser seleccionados para a súa participación nos concursos que se poidan organizar na plataforma.</li>
</ol>


			<ul class="actions">
				<li><a href="" class="button special" onclick="window.history.back(); return false;">Voltar</a></li>
			</ul>

		</div>
	</section>
</article>

{% endblock %}
