{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{# index.html.twig #}
{% extends 'layout.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<style>
#main > header {
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("{{ asset('images/creadores.jpg') }}");
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("{{ asset('images/creadores.jpg') }}");
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("{{ asset('images/creadores.jpg') }}");
	background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("{{ asset('images/creadores.jpg') }}");
}
body.landing #page-wrapper {
		background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("{{ asset('images/creadores.jpg') }}");
		background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("{{ asset('images/creadores.jpg') }}");
		background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("{{ asset('images/creadores.jpg') }}");
		background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("{{ asset('images/creadores.jpg') }}");
}
body.is-mobile.landing #banner,
body.is-mobile.landing .wrapper.style4 {
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("{{ asset('images/creadores.jpg') }}");
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("{{ asset('images/creadores.jpg') }}");
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("{{ asset('images/creadores.jpg') }}");
	background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("{{ asset('images/creadores.jpg') }}");
}
	</style>
{% endblock %}

{% block bodyclass %}class="landing"{% endblock %}
{% block headerclass %}class="alt"{% endblock %}

{% block content %}
{{ parent() }}

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h2>Creador@s</h2>
					<p>Participa no concurso e <br/>
						Difunde as túas ideas</p>
				</div>
				<a href="#outros_festivais" class="more scrolly">Máis...</a>
			</section>

			<section id="outros_festivais" class="wrapper style2">
				<div class="inner">


					<h4>Outros Festivais Galegos</h4>
					<div class="table-wrapper">

					<p>Olloboi participa dos esforzos para a creación da Coordinadora de Festivais de Cinema de Galicia,
						na que se inclúen outros festivais e mostras que teñen lugar na nosa terra ao longo do ano:</p>

						<table>
							<thead>
								<tr>
									<th></th>
								</tr>
							</thead>
							<tbody>

			<tr><td>Amal. Festival de Cine Euroárabe Santiago de Compostela	</td></tr>
			<tr><td>Academia Galega do Audiovisual													</td></tr>
			<tr><td>Boom, Film & Comic Vigo																	</td></tr>
			<tr><td>Carballo Interplay. Festival de webseries de Carballo		</td></tr>
			<tr><td>Chanfaina Lab																						</td></tr>
			<tr><td>Cineuropa																								</td></tr>
			<tr><td>Curtas Film Fest do Certame Audiovisual Liceo Casino de Vilagarcía</td></tr>
			<tr><td>Curtas na Rúa																						</td></tr>
			<tr><td>Curtocircuito. Festival Internacional de Cine						</td></tr>
			<tr><td>Curtopía																								</td></tr>
			<tr><td>Festival Primavera do Cine															</td></tr>
			<tr><td>Festival Con Secuencias Vigo														</td></tr>
			<tr><td>Festival de Cans																				</td></tr>
			<tr><td>Festival de Cine de Roca																</td></tr>
			<tr><td>Festival de Cine Fantástico de Monforte. Fancine de Lemos</td></tr>
			<tr><td>Festival de Cine Internacional de Ourense								</td></tr>
			<tr><td>Festival Internacional de Cine Rural Carlos Velo 				</td></tr>
			<tr><td>Festival Mundos Digitales																</td></tr>
			<tr><td>Fic Bueu. Festival Internacional de Curtametraxes de Bueu</td></tr>
			<tr><td>Freakmacine. Festival de Cinema Fantástico de A Coruña	</td></tr>
			<tr><td>Mostra de Cine de Monforte de Lemos											</td></tr>
			<tr><td>Mostra de Cinema Etnográfico do Museo do Pobo Galego		</td></tr>
			<tr><td>Mostra de Curtametraxes do Ateneo Ferrolán							</td></tr>
			<tr><td>Mostra de Curtas Vila de Noia														</td></tr>
			<tr><td>Novos cinemas. Festival Internacional de Cine de Pontevedra</td></tr>
			<tr><td>Play-Doc. Festival Internacional de Documentais de Tui	</td></tr>
			<tr><td>Redondela en Curto																			</td></tr>
			<tr><td>S8 - Mostra Internacional de Cinema Periférico					</td></tr>
			<tr><td>Semana de Cine de Autor de Lugo													</td></tr>
			<tr><td>Semana de Cine Submarino de Vigo												</td></tr>
			<tr><td>Semana Internacional de Cine de Betanzos								</td></tr>
			<tr><td>Certame de Curtametraxes Armadiña												</td></tr>
			<tr><td>I Escolma de Cinema Galego en Sarria										</td></tr>
			<tr><td>I Premios Fouciño Festival de Cinema										</td></tr>

							</tbody>
						</table>
					</div>

					<ul class="actions">
						<li><a href="" class="button special" onclick="window.history.back(); return false;">Voltar</a></li>
					</ul>

				</div>
			</section>

{% endblock %}
