{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{# sobre-olloboi.html.twig #}
{% extends 'layout.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<style>
#main > header {
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("{{ asset('images/olloboisubmarino.jpg') }}");
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("{{ asset('images/olloboisubmarino.jpg') }}");
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("{{ asset('images/olloboisubmarino.jpg') }}");
	background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("{{ asset('images/olloboisubmarino.jpg') }}");
}
body.landing #page-wrapper {
		background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("{{ asset('images/olloboisubmarino.jpg') }}");
		background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("{{ asset('images/olloboisubmarino.jpg') }}");
		background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("{{ asset('images/olloboisubmarino.jpg') }}");
		background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("{{ asset('images/olloboisubmarino.jpg') }}");
}
body.is-mobile.landing #banner,
body.is-mobile.landing .wrapper.style4 {
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("{{ asset('images/olloboisubmarino.jpg') }}");
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("{{ asset('images/olloboisubmarino.jpg') }}");
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("{{ asset('images/olloboisubmarino.jpg') }}");
	background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("{{ asset('images/olloboisubmarino.jpg') }}");
}
	</style>
{% endblock %}


{% block bodyclass %}class="landing"{% endblock %}
{% block headerclass %}class="alt"{% endblock %}


{% block content %}
{{ parent() }}

	<!-- Banner -->
		<section id="banner">
				<header>
				<div class="inner">
				<h2>Sobre Olloboi</h2>
				<p>Festival<br />
				Audiovisual<br />
				Escolar</p>
				</div>
				<ul class="actions">
					<li><a href="#que_e_olloboi" class="button special">Que é Olloboi?</a></li>
					<li><a href="{{ path('complices') }}" class="button special">Cómplices</a></li>
					<li><a href="{{ path('crear') }}" class="button special">Creador@s</a></li>
					<li><a href="{{ path('prensa') }}" class="button special">Prensa e Medios</a></li>
					<li><a href="{{ path('faq') }}" class="button special">FAQ</a></li>
					</ul>
			  </header>
			<a href="#one" class="more scrolly">Como comezou todo...</a>
		</section>

	<!-- One -->
		<section id="one" class="wrapper style1 special">
			<div class="inner">
				<header class="major">
					<h2>Orixes</h2>
					<p>No ano <strong>2008</strong>, un grupo de <strong>profesores e profesoras do ensino público</strong> procedentes de diversos puntos de Galicia, reúnense na comarca da Barbanza e fundan o grupo <strong>Rodaxe</strong> para dar saída ás súas inquietudes comúns no mundo audiovisual.</p>
					<p>Desde o <strong>2010</strong>, froito do traballo deste grupo, vénse celebrando anualmente o <strong>Festival Audiovisual Olloboi</strong>, orientado ó ámbito escolar <strong>desde o ensino primario ata o superior.</strong></p>
					<p>No ano <strong>2012</strong> o grupo Rodaxe decide constituírse en <strong>asociación sociocultural sen ánimo de lucro</strong> e pasa a denominarse Marearte primeiro e<strong> Olloboi desde xaneiro do 2016</strong>, incorporando profesionais de ámbitos alleos á docencia e ampliando a súa actividade a <strong>todo tipo de expresión artística</strong>.</p>
				</div>
				</header>
				<ul class="icons major">
					<li><span class="icon fa-diamond major style1"><span class="label">Lorem</span></span></li>
					<li><span class="icon fa-heart-o major style2"><span class="label">Ipsum</span></span></li>
					<li><span class="icon fa-code major style3"><span class="label">Dolor</span></span></li>
				</ul>
			</div>
		</section>


	<!-- Two -->
		<section id="que_e_olloboi" class="wrapper alt style2">
			<section class="spotlight">
				<div class="image"><img src="{{ asset('images/creadores.jpg') }}" alt="" /></div><div class="content">
					<h2>Que é Olloboi?</h2>
					<p><b>Olloboi</b> é un <b>certame audiovisual escolar</b> que transcorre nunha plataforma web os 5 primeiros meses do ano e culmina a última semana de maio con diversos actos presenciais: proxeccións, unha entrega de premios e un encontro de xoves creadores e creadoras, profesorado e profesionais do audiovisual. Trátase dun <b>proxecto independente e sen ánimo de lucro</b> que se nutre do traballo e a ilusión dos socios fundadores da Asociación Olloboi.</p>
				</div>
			</section>
			<section class="spotlight">
				<div class="image"><img src="{{ asset('images/olloboi-grupo-orixinal.jpg') }}" alt="" /></div><div class="content">
					<h2>Por que Olloboi?</h2>
					<p>En <b>Galicia</b> hai moitas pequenas iniciativas promovidas desde diversos centros educativos.
						Olloboi naceu como un <b>colectivo de profes</b> preocupados porque no panorama da cultura galega
						non haxa un recoñecemento explícito destas iniciativas audiovisuais escolares.
						Aportamos o noso gran de area canalizando a <b>solidariedade</b> a través da <b>creatividade</b>,
						organizando este certame que premia a <b>orixinalidade</b>, <b>arte</b> e <b>compromiso</b> dos traballos de moitos futuros profesionais.<br/>
						<b>Olloboi</b> aspira a ser plataforma da <b>canteira do audiovisual galego</b>.</p>
				</div>
			</section>

			<section class="spotlight">
				<div class="image"><img src="{{ asset('images/submarino.jpg') }}" alt="" /></div><div class="content">
					<h2>Soci@s Fundadores</h2>
					<div class="row">
						<div class="12u$ 12u$(medium)">
							<ol>
					    <li><b>Manuel Álvarez</b>, profesor de Plástica no CPI P. Eusebio Lorenzo Baleirón de Dodro</li>
					    <li><b>Manuel Garrido</b>, profesor de Plástica no IES Leliadoura de Ribeira</li>
					    <li><b>Óscar Aguado</b>, profesor de Informática no IES Chan do Monte de Marín</li>
					    <li><b>Susana Diz</b>, licenciada en Belas Artes e experta en comunicación gráfica</li>
					    <li><b>Ana Moreiras</b>, profesora de Tecnoloxía no IES A Cachada de Boiro</li>
						</ol>
					</div>
				</div>
				</div>
			</section>

			<section class="spotlight">
				<div class="image"><img src="{{ asset('images/colaboradores.jpg') }}" alt="" /></div><div class="content">
					<h2>Como o facemos</h2>
					<p>Os custes do noso festival non son grandes porque capitalizamos o noso traballo:
						os propios organizadores creamos a aplicación web, levamos a comunicación e publicidade,
						producimos o evento e realizamos o grafismo. Calquera destes aspectos foi moi eloxiado
						pola prensa e os participantes das edicións anteriores.</p>
					<p>A pesar de que o núcleo de traballo somos 4 profesores e unha artista gráfica, cada ano son máis
						 as colaboracións coas que contamos, e que enriquecen moito o resultado obtido.</p>
			</section>


			<section class="spotlight">
				<div class="image"><img src="{{ asset('images/espectadores.jpg') }}" alt="" /></div><div class="content">
					<h2>Moreas de Cómplices</h2>
					<div class="row">
						<div class="14u$ 12u$(medium)">
							<ol>
					    <li>Exalumnado e exparticipantes</li>
					    <li>Concello, Centro Social de Boiro e Mancomunidade de Arousa Norte</li>
							<li>Pequenas e medianas empresas e comercios da Arousa</li>
					    <li>“Profesorado cómplice” en diversos centros de Galicia</li>
					    <li>Profesionais do audiovisual e a cultura galega: nas últimas 4 edicións tivemos cómplices directores (Alfonso Zarauza, Luis Avilés, Enrique Otero), escritores (Agustín Agra e Andrés Mahía), actores e actrices (Miguel de Lira, Antonio Durán Morris, Karra Elejalde, Mónica García, X.A. Touriñán, Federico Pérez, Sabela Hermida, Camila Bossa, etc), xestores audiovisuais (Manolo González, María Yáñez, Carlos Ares).</li>
					    <li>Academia Galega do Audiovisual a través da Rede de Festivais Galegos</li>
						</ol>
					</div>
				</div>
				</div>
			</section>
		</section>





	<!-- Three -->
		<section id="three" class="wrapper style3 special">
			<div class="inner">
				<header class="major">
					<h2>Outros Datos sobre Olloboi</h2>
					<p>Queres saber aínda máis?</p>
				</header>
				<ul class="features">
					<li class="icon fa-video-camera">
						<h3>Moreas de vídeos</h3>
						<p>Ó longo das distintas edicións do festival xa se levan presentado
							<b>máis de 500 traballos</b> audiovisuais! Disfruta dos premiados na
							<a href="http://videoteca.olloboi.com" target="_blank">Videoteca Olloboi</a>.
						</p>
					</li>
					<li class="icon fa-bank">
						<h3>Banca ética</h3>
						<p>Na asociación Olloboi xestionamos os cartos usando os servizos de <a href="https://www.triodos.es/es/particulares/" target="_blank">Triodos</a>,
							un banco de referencia en <a href="https://gl.wikipedia.org/wiki/Banca_%C3%A9tica" target="_blank">banca ética</a>.</p>
					</li>
				</ul>

				<ul class="actions">
					<li><a href="{{ path('prensa') }}" class="button special">Prensa e Medios</a></li>
					<li><a href="{{ path('complices') }}" class="button special">Faite cómplice!</a></li>
				</ul>


			</div>
		</section>




{% endblock %}
