{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{# index.html.twig #}
{% extends 'layout.html.twig' %}

{% block content %}
{{ parent() }}

			<section id="one" class="wrapper style2">
				<div class="inner">
					<h2>Admin</h2>
					<p>Panel de administración</p>
					<ul class="actions">
						<li><a href="{{ path('admin_usuarios') }}" class="button special">Usuarios</a></li>
						<li><a href="{{ path('admin_concursos') }}" class="button special">Concursos</a></li>
						<li><a href="{{ path('admin_videos') }}" class="button special">Vídeos</a></li>
					</ul>

					<ul class="actions">
						<li><a href="{{ path('admin_engadir_video') }}" class="button special">Engadir Vídeo</a></li>
						<li><a href="{{ path('correo_escribir') }}" class="button special">Enviar Correo</a></li>
					</ul>
				</div>
			</section>



{% endblock %}
