{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{# admin/adminUsers.html.twig #}
{% extends 'layout.html.twig' %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
<script>
$(document).ready(function() {
    $('#example').DataTable({
			"order": [[ 0, "desc" ]],
      {{ include('/includes/datatables.gl.js.twig') }}
		}	);
})
</script>
{% endblock javascripts %}

{% block content %}
{{ parent() }}

			<section id="usuarios" class="wrapper style2">
				<div class="inner">
					<h2>Usuarios ({{ users|length }})</h2>
					<p>Panel de administración</p>

{% if users %}
			<div class="table-wrapper">
				<table id="example" class="compact stripe hover row-border order-column nowrap" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>Roles</th>
							<th>Username</th>
							<th>Correo-e</th>
							<th>Teléfono</th>
						</tr>
					</thead>
					<tbody>
	{% for user in users %}
				      <tr>
								<td>
									{% set admin, teacher = 0,0 %}
									{% for rol in user.roles %}
									  {% if rol == "ROLE_ADMIN" %}
											  {% set admin = 1 %}
										{% endif %}
										{% if rol == "ROLE_TEACHER" %}
												{% set teacher = 1 %}
										{% endif %}
									{% endfor %}

									<span class="icon fa-user" style="color: lime;"></span>
									{% if teacher %}
											<span class="icon fa-graduation-cap" style="color: gold;"></span>
									{% else %}
											<span class="icon fa-graduation-cap" style="opacity: 0.3;"></span>
									{% endif %}
									{% if admin %}
											<span class="icon fa-institution" style="color: silver;"></span>
									{% else %}
											<span class="icon fa-institution" style="opacity: 0.2;"></span>
									{% endif %}


								</td>
								<td>
									{#<a href="{{ path('editar_usuario', {'userId': user.id}) }}">
										<span class="icon fa-trash" style="color: #ED4933;"></span>
									</a>#}
									<a href="{{ path('ver_usuario', {'userId': user.id}) }}">
										{{ user.username }}
									</a>


								</td>
								<td>{{ user.email }}</td>
								<td>{{ user.phone }}
								</td>
							</tr>
	{% endfor %}
					</tbody>
					<tfoot>
						<tr>
						</tr>
					</tfoot>
				</table>
			</div>


{% else %}
			<p>Non hai usuarios na aplicación.</p>
{% endif %}

<ul class="actions">
	<li><a href="" class="button special" onclick="window.history.back(); return false;">Voltar</a></li>
</ul>

			</div>
		</section>

{% endblock %}
