{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{# admin/adminContests.html.twig #}
{% extends 'layout.html.twig' %}

{% block content %}
{{ parent() }}

<section id="contests" class="wrapper style2">
	<div class="inner">
		<h2><span class="fa fa-trophy" style="color: #ED4933;"></span>
			Concursos</h2>
		<p>Panel de administración</p>

{% if contests %}
<div class="table-wrapper">
	<table>
		<thead>
			<tr>
				<th>Nome</th>
				<th>Detalles</th>
			</tr>
		</thead>
		<tbody>
{% for contest in contests %}
				<tr>
					<td>
							<a href="{{ path('concurso_editar', {'contestId': contest.id}) }}">
								<span title="Editar" class="icon fa-edit" style="color:orange"></span></a>

						{% if "now"|date('Y-m-d') > contest.awardsDate|date('Y-m-d') %}
							<span title="Concurso rematado" class="icon fa-circle" style="color:red"></span>
						{% elseif "now"|date('Y-m-d') > contest.endRegistration|date('Y-m-d') %}
							<span title="Inscrición pechada" class="icon fa-circle" style="color:yellow"></span>
						{% else %}
							<span title="Concurso aberto" class="icon fa-circle" style="color:lime"></span>
						{% endif %}


						<a href="{{ path('concurso_ver', {'contestId': contest.id}) }}">
							<span title="Examinar" class="icon fa-search"></span>
							{{ contest.name }}</a>
					</td>
					<td>
						{% if contest.bases %}
							 <a href="{{ path('concurso_bases', {'contestId': contest.id}) }}">Bases</a>
						{% endif %}

						{% if contest.participants|length > 0 %}
							<a href="{{ path('concurso_videos', {'contestId': contest.id}) }}">Vídeos</a>
						{% endif %}

						{% if contest.awardsSchedule %}
							 <a href="{{ path('concurso_programa', {'contestId': contest.id}) }}">Programa</a>
						{% endif %}

						{% if contest.jury %}
							 <a href="{{ path('concurso_xurado', {'contestId': contest.id}) }}">Xurado</a>
						{% endif %}

						{% if contest.awards|length > 0 %}
							<a href="{{ path('concurso_premios', {'contestId': contest.id}) }}">Premios</a>
						{% endif %}

						{% if contest.sponsors %}
							 <a href="{{ path('concurso_colabora', {'contestId': contest.id}) }}">Colaboracións</a>
						{% endif %}

						{% if contest.finalReport %}
							 <a href="{{ path('concurso_memoria', {'contestId': contest.id}) }}">Memoria</a>
						{% endif %}

					</td>
				</tr>
{% endfor %}
		</tbody>
		<tfoot>
			<tr>
			</tr>
		</tfoot>
	</table>
</div>



{% else %}
			<p>Aínda non hai concursos.</p>
{% endif %}

<ul class="actions">
	<li><a href="{{ path('concurso_novo') }}" class="button special">Crear Concurso</a></li>
	<li><a href="" class="button special" onclick="window.history.back(); return false;">Voltar</a></li>
</ul>

  </div>
 </section>

{% endblock content %}
