{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{# admin/adminVideos.html.twig #}
{% extends 'layout.html.twig' %}

{% block content %}
{{ parent() }}

<section id="videos" class="wrapper style2">
	<div class="inner">
		<h2>Vídeos</h2>
		<p>Panel de administración</p>

		{### FILTROS DO LISTADO (A NIVEL DO SERVIDOR)
		<p>
      <select id="filter" onchange="filtrar();">
        <option value="last" {% if filter == "last" %} selected {% endif %}>Últimos 100 vídeos</option>
        <option value="all" {% if filter == "all" %} selected {% endif %}>Todos os vídeos</option>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <option value="liked" {% if filter == "liked" %} selected {% endif %}>Os meus vídeos favoritos</option>
        <option value="loved" {% if filter == "loved" %} selected {% endif %}>Os vídeos que me encantan</option>
        <option value="notseen" {% if filter == "notseen" %} selected {% endif %}>Vídeos que aínda non vin</option>
        {% endif %}
      </select>
    </p>
###}

{% if videos %}
			<div class="table-wrapper">
				<table id="example" class="compact stripe hover row-border order-column nowrap" cellspacing="0" width="100%">
					<thead>
						<tr>
              <th></th>
							<th>Título</th>
							<th>Estado</th>
							<th>Data Ins.</th>
              <th>Escola</th>
							<th>Usuari@</th>
						</tr>
					</thead>
					<tbody>
	{% for video in videos %}
	<tr>
		<td>
			<a href="{{ path('video_editar', {'videoId': video.id}) }}"><span class="fa fa-edit" style="color: #ED4933;"></span></a>
			<span id="delV{{ video.id }}" title="Borrar" class="borrar v{{ video.id }} fa fa-trash" style="color: #ED4933;"></span>
		</td>
		<td data-order="{{ video.title }}">
			<a href="{{ path('video_ver', {'videoId': video.id}) }}">
				{{ video.title }}
			</a>
		</td>

		<td>{{ video.status }}</td>

		<td data-order="{{ video.registrationDateTime|date('Y-m-d') }}">{{ video.registrationDateTime|date('d-m-Y') }}</td>

		<td>{{ video.school }}</td>

		<td>{{ video.username }}</td>
	</tr>
{% endfor %}
</tbody>
<tfoot>
<tr>
</tr>
</tfoot>
</table>
</div>

{% else %}
<p>Aínda non hai vídeos inscritos.</p>
{% endif %}

<ul class="actions">
	<li><a href="" class="button special" onclick="window.history.back(); return false;">Voltar</a></li>
</ul>


			</div>
		</section>

{% endblock content %}


{% block javascripts %}
{{ parent() }}
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
<script>
$(document).ready(function() {
    $('#example').DataTable({
			"order": [[ 3, "desc" ]],
      {{ include('/includes/datatables.gl.js.twig') }}
		}	);

		$('.borrar').click(function  () {
      if (confirm('Seguro que queres borrar este vídeo? Borraranse tamén as marcas, seleccións a concursos e premios que puidera ter asociados.')) {
				 var url = "{{ path('admin_list_video_borrar', {'videoId': 'VideoId'}) }}";
				 var videoId = this.className.split(' ')[1].slice(1);
				 url = url.replace("VideoId", videoId);

         window.location.href=url;
      }
    });


    {### AJAX - MARCADORES - ONCLICK - Afecta só aos elementos da táboa ###}
    $(document).on('click', 'unseen', function () {
        // Se o usuario non iniciou sesión. MELLORAR ESTE CÓDIGO...
        {% if not app.user %}
          window.location.assign("/login");
        {% else %}
          var markElement = this;
          var videoId = this.className.split(' ')[1].slice(1);
          var previousMark = this.className.split(' ')[0];

          var url = "{{ path('video_marcar', {'videoId': 'videoId', 'previousMark': 'markValue'}) }}";
          url = url.replace("videoId", videoId);
          url = url.replace("markValue", previousMark);

          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
              switch (previousMark){
                case "unliked":
                  markElement.className = "liked v" + videoId + " fa fa-star";
                  break;
                case "liked":
                  markElement.className = "unliked v" + videoId + " fa fa-star-o";
                  break;
                case "unloved":
                  markElement.className = "loved v" + videoId + " fa fa-heart";
                  break;
                case "loved":
                  markElement.className = "unloved v" + videoId + " fa fa-heart-o";
                  break;
                case "unseen":
                  markElement.className = "seen v" + videoId + " fa fa-eye";
                  break;
                case "seen":
                  markElement.className = "unseen v" + videoId + " fa fa-eye-slash";
                  break;
              }
            }
          };
          xhttp.open("GET", url, true);
          xhttp.send();
        {% endif %}
    } );
} );


function filtrar() {
  var ruta = "/videos?filter="+document.getElementById("filter").value;
  location.href = ruta;
}

</script>
{% endblock javascripts %}
