{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{# arquivo.html.twig #}
{% extends 'layout.html.twig' %}

{% block title %}Olloboi - Arquivo de Premios{% endblock %}

{% block content %}
{{ parent() }}

<section class="wrapper style2">
	<div class="inner">
		<h2>Arquivo</h2>
		<p>Todos os vídeos e premios de anteriores edicións desde o 2010!</p>

		<h3>Arquivo de Vídeos</h3>
		<p>Nesta páxina podes consultar todos os vídeos presentados en anteriores edicións de Olloboi. <br/>
			 Polo método de participación utilizado no concurso é posible que algún vídeo non se atope xa dispoñible,
			 ou que @ propietari@ o configurara como privado. Aínda así preferimos polo de agora manter esta información
			 na base de datos a modo de lembranza da súa participación. </p>
		<p>Recompilar e unificar toda esta información desde o ano 2010, coas diferentes características
		   de cada edición do concurso, foi unha tarefa ardua e complicada, que supuxo en ocasións retocar algúns datos para
			 darlle uniformidade e consistencia á información á hora de presentala. Por iso é probable que atopes algún erro ou
			 omisión. Nese caso podes poñerte en contacto con nós en info@olloboi.com e trataremos de correxilo no posible.</p>

		<ul class="actions">
			<li><a href="{{ path('arquivo_videos') }}" class="button special">Todos os Vídeos</a></li>
		</ul>

		<hr />

		<h3>Arquivo de Premios</h3>
		<p>Nesta páxina podes consultar todos os premios outorgados polo Festival Olloboi, desde que se
			 celebrou a súa 1ª edición no ano 2010. </p>
		<ul class="actions">
			<li><a href="{{ path('arquivo_premios') }}" class="button special">Todos os Premios</a></li>
		</ul>

		<h4 style="text-align:center;">Que o disfrutedes!! :)</h4>

	</div>
</section>
{% endblock %}
