{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{# awardList.html.twig #}
{% extends 'layout.html.twig' %}

{% block title %}Olloboi - Arquivo de Premios{% endblock %}

{% block content %}
{{ parent() }}

<section class="wrapper style2">
	<div class="inner">
			<h2>Arquivo de Premios</h2>

			{# FILTROS DE BÚSQUEDA #}
			<div>
				<p id="filterSwitch">Amosar/Ocultar Filtros de Búsqueda</p>
				<div id="filters" {# style="display:none" #} >
					<form id="filtersForm" method="get" action="{{ path('arquivo_premios') }}" >
						<select id="edition" name="edition" onchange="document.getElementById('filtersForm').submit();">
							<option value=""> - Edición - </option>
							{% for ed in editions %}
							<option value="{{ ed.edition }}" {% if ed.edition == filtros.edition %} selected {% endif %}>{{ ed.edition }}</option>
							{% endfor %}
						</select>
					</form>
				</div>
			</div>

{# LISTADO DE PREMIOS #}
{% if pagination.getTotalItemCount %}
			{# total items count #}
			<div style="text-align:center">
				<h4 class="count">{{ pagination.getTotalItemCount }}  Premios</h4>
			{# display navigation #}
				<h4 class="navigation">{{ knp_pagination_render(pagination) }}</h4>
			</div>

			<div class="table-wrapper">
				<table>
					<thead>
						<tr>
						{# sorting of properties based on query components #}
							<th>{{ knp_pagination_sortable(pagination, 'Edición', 'v.edition') }}</th>
							<th>{{ knp_pagination_sortable(pagination, 'Categoría', 'v.name') }}</th>
			  			<th{% if pagination.isSorted('v.video.title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Título', 'v.video.title') }}</th>
						</tr>
					</thead>
					<tbody>
						{% for award in pagination %}
						<tr {% if loop.index is odd %}class="color"{% endif %}>
							<td>{{ award.edition }}</td>
							<td>{{ award.name }}</td>
							<td><a href="{{ path('arquivo_ver', {'videoId': award.video.id}) }}">
									<span class="icon fa-search"><span class="label">Examinar</span></span>
									{{ award.video.title }}</a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

			{# display navigation #}
			<h4 class="navigation" style="text-align:center">
				{{ knp_pagination_render(pagination) }}
			</h4>

{% else %}

			<p>Non hai premios no arquivo :)</p>

{% endif %}

			<ul class="actions">
				<li><a href="" class="button special" target="_blank" onclick="window.history.back(); return false;">Voltar</a></li>
			</ul>

			</div>
		</section>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>

$(document).ready(function(){
 // jQuery methods go here...
 $("#filterSwitch").click(function(){
	 $("#filters").toggle(300);
 });
});
</script>
{% endblock %}
