{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{# videoList.html.twig #}
{% extends 'layout.html.twig' %}

{% block title %}Olloboi - Arquivo de Vídeos{% endblock %}

{% block content %}
{{ parent() }}

<section class="wrapper style2">
	<div class="inner">
			<h2>Arquivo de Vídeos</h2>

			{# FILTROS DE BÚSQUEDA #}
			<div>
				<p id="filterSwitch">Amosar/Ocultar Filtros de Búsqueda</p>
				<div id="filters" {# style="display:none" #} >
					<form id="filtersForm" method="get" action="{{ path('arquivo_videos') }}" >
						<select id="educationLevel" name="educationLevel" onchange="document.getElementById('filtersForm').submit();">
							<option value=""> - Nivel educativo - </option>
							{% for edLevel in edLevels %}
							<option value="{{ edLevel.id }}" {% if edLevel.id == filtros.educationLevel %} selected {% endif %}>{{ edLevel.name }}</option>
							{% endfor %}
							<option value="null"> - Nulo - </option>
						</select>
					</form>
				</div>
			</div>

{# LISTADO DE VIDEOS #}
{% if pagination.getTotalItemCount %}
			{# total items count #}
			<div style="text-align:center">
				<h4 class="count">{{ pagination.getTotalItemCount }}  Vídeos</h4>
			{# display navigation #}
				<h4 class="navigation">{{ knp_pagination_render(pagination) }}</h4>
			</div>

			<div class="table-wrapper">
				<table>
					<thead>
						<tr>
						{# sorting of properties based on query components #}
							<th>{{ knp_pagination_sortable(pagination, 'Id', 'v.id') }}</th>
							<th>{{ knp_pagination_sortable(pagination, 'Edición', 'v.edition') }}</th>
							<th>Nivel educativo</th>
			  			<th{% if pagination.isSorted('v.title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Título', 'v.title') }}</th>
						</tr>
					</thead>
					<tbody>
						{% for v in pagination %}
						<tr {% if loop.index is odd %}class="color"{% endif %}>
			    		<td>{{ v.id }}</td>
							<td>{{ v.edition }}</td>
							<td>{{ v.educationLevel }}</td>
			    		<td><a href="{{ path('arquivo_ver', {'videoId': v.id}) }}">
								<span class="icon fa-search"><span class="label">Examinar</span></span>
								{{ v.title }}</a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

			{# display navigation #}
			<h4 class="navigation" style="text-align:center">
				{{ knp_pagination_render(pagination) }}
			</h4>

{% else %}

			<p>Non hai vídeos con estes criterios</p>

{% endif %}


			<ul class="actions">
				<li><a href="" class="button special" onclick="window.history.back(); return false;">Voltar</a></li>
			</ul>

			</div>
		</section>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>

$(document).ready(function(){
 // jQuery methods go here...
 $("#filterSwitch").click(function(){
	 $("#filters").toggle(300);
 });
});
</script>
{% endblock %}
