{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{% extends "layout.html.twig" %}

{% block content %}
{{ parent() }}

<!-- Main -->
<article id="main">

	<!-- One -->
		<section id="one" class="wrapper style3">
			<div class="inner">

			<h2>{{ video.title }}</h2>

			{% if video.provider=="YOUTUBE" %}
					<div class="youtube-article">
						<iframe class="dt-youtube"
						src="//www.youtube.com/embed/{{ video.url }}"
						frameborder="0" allowfullscreen></iframe></div>
			{% elseif video.provider=="VIMEO" %}
					<div class="vimeo-article">
							<iframe src="https://player.vimeo.com/video/{{ video.url }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
							</iframe></div>

			{% endif %}

						  <ul>
						    <li><b>Título:</b>
									{% if video.provider=="YOUTUBE" %}
											<a href="https://youtu.be/{{ video.url }}">
									{% elseif video.provider=="VIMEO" %}
											<a href="https://vimeo.com/{{ video.url }}">
									{% endif %}
									{{ video.title }}</a></li>
								<li><b>Usuari@:</b> {{ video.username }}</li>
								{% if video.school %}
						      <li><b>Centro educativo:</b> <a href="{{ path('escola', {'schoolId': video.school.id}) }}">{{ video.school }}</a></li>
								{% endif %}
								{% if video.educationLevel %}
								  <li><b>Nivel Educativo:</b> {{ video.educationLevel }}</li>
								{% endif %}
						    <li><b>Descrición, Sinopse e Créditos:</b> {{ video.credits }}</li>
						  </ul>

			<ul class="actions">
				<li><a href="" class="button special" onclick="window.history.back(); return false;">Voltar</a></li>
			</ul>

		</div>
	</section>
</article>
{% endblock %}
