{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

<h2><span class="fa fa-envelope" style="color: #ED4933;"></span>
Confirma o teu correo</h2>
<p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}
  <br />
  <a href="{{ path('index') }}" class="button special">Continuar</a>
</p>

{% endblock fos_user_content %}
