{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
		<h2><span class="fa fa-thumbs-o-up" style="color: #ED4933;"></span>
    Benvid@ {{ user.username }}!!</h2>
		{#
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}
			<br /><br />
			<a href="{{ path('fos_user_profile_show') }}" class="button special">Continuar</a>
		</p>#}

		<p>Moitas grazas por confirmar a túa dirección de correo electrónico.</p>
		<p>Como usuari@ rexistrad@ poderás:</p>
			<ol>
				<li><a href="{{ path('video_novo') }}">Inscribir vídeos</a>
					  para dalos a coñecer á comunidade e para a súa posible participación nos concursos que se organicen a través da plataforma.</li>
				<li><a href="{{ path('videos') }}">Filtrar os vídeos</a> que máis che gusten.</li>
				<li>Modificar ou eliminar os teus <a href="{{ path('fos_user_profile_show') }}">datos de usuari@</a>.</li>
				<li><a href="{{ path('concursos') }}">Participar en votacións dos concursos</a> abertos na plataforma que así o permitan.</li>
				<li><a href="{{ path('fos_user_profile_show') }}">Manterte informad@</a> da inscrición de novos vídeos e outros eventos. Podes configurar
				ou desactivar as notificacións desde o teu <a href="{{ path('fos_user_profile_show') }}">perfil de usuari@</a>.</li>
				<li>E outras funcionalidades que se irán engadindo co tempo</li>
			</ol>

			{#
			{% if targetUrl %}
	    	<p><a href="{{ targetUrl }}" class="button special">{{ 'registration.back'|trans }}</a></p>
	    {% endif %}
			#}

			<ul class="actions">
				<li><a href="{{ path('index') }}" class="button special">Inicio</a></li>
				<li><a href="{{ path('fos_user_profile_show') }}" class="button special">Perfil de Usuari@</a></li>
				<li><a href="{{ path('video_novo') }}" class="button special">Inscribir Vídeo</a></li>
			</ul>

{% endblock fos_user_content %}
