{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
{%- autoescape false -%}
{{ 'registration.email.subject'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}
{%- endautoescape -%}
{% endblock %}

{% block body_text %}
{% autoescape false %}
{{ 'registration.email.message'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}
{% endautoescape %}
{% endblock %}

{% block body_html %}
{% autoescape false %}
<p><img src="{{ absolute_url(asset('images/logo100.jpg')) }}" alt="Festival Audiovisual Escolar Olloboi" /></p>
<h1>Ola {{ user.username }}!</h1>
<p>Confirma o rexistro de usuari@ seguindo esta ligazón:</p>
<p>{{ confirmationUrl }}</p>
<h2>Un saúdo!</h2>
<p>O equipo Olloboi</p>
{% endautoescape %}
{% endblock %}
