{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{% trans_default_domain 'FOSUserBundle' %}
<h2><span class="fa fa-user" style="color: #ED4933;"></span>
Rexistro de Usuari@</h2>
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
        <br />
        <input type="submit" value="{{ 'registration.submit'|trans }}" class="special" />
        <input type="button" value="Cancelar" onclick="window.history.back(); return false;" class="special" />
    </div>
{{ form_end(form) }}
