{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{# school/edit.html.twig #}
{% extends "layout.html.twig" %}

{% block content %}
{{ parent() }}
<section id="one" class="wrapper style2">
	<div class="inner">
		<h2><span class="fa fa-edit" style="color: #ED4933;"></span>
			Editar Escola</h2>
		<p>Edita os datos da escola.</p>

			{{ form_start(form) }}
			{# <div id="form_error">{{ form_errors(form) }}</div> #}

			{{ form_widget(form) }}
			<p><br/><input id="btnEnviar" type="submit" value="Gardar" class="special" /></p>
			{{ form_end(form) }}

			<ul class="actions">
				<li><a href="" class="button special" onclick="window.history.back(); return false;">Voltar</a></li>
			</ul>

		</div>
	</section>
{% endblock content %}
