{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{# school/list.html.twig #}
{% extends 'layout.html.twig' %}

{% block content %}
{{ parent() }}

<section id="escolas" class="wrapper style2">
	<div class="inner">
		<h2><span class="fa fa-institution" style="color: #ED4933;"></span>
    Escolas</h2>
		<p>Todos os centros educativos con vídeos inscritos ({{ schools|length }}!!)</p>


    {############### MAPA ###################}
    <div id="map" style="width:100%;height:400px;background-color:green;margin:auto;"></div>

{% if schools %}
      <h3>Listado de Escolas</h3>
			<div class="table-wrapper">
				<table id="example" class="compact stripe hover row-border order-column nowrap" cellspacing="0" width="100%">
					<thead>
						<tr>
              <th>Vídeos</th>
              <th>
                {% if is_granted('ROLE_ADMIN') %}
                    <span title="Editar" class="fa fa-edit"></span>
                    <span title="Borrar" class="fa fa-trash"></span>
                {% endif %}
                Nome</th>
							<th>Localidade</th>
              <th>Provincia</th>
						</tr>
					</thead>
					<tbody>
	{% for school in schools %}
				      <tr>
                <td>
										{{ school.videos|length }}
								</td>
								<td>
                  {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('escola_editar', {'schoolId': school.id}) }}"><span class="fa fa-edit" style="color: #ED4933;"></span></a>
            			     <span id="delS{{ school.id }}" title="Borrar" class="borrar s{{ school.id }} fa fa-trash" style="color: #ED4933;"></span>
                  {% endif %}
									<a href="{{ path('escola', {'schoolId': school.id}) }}">
										{{ school.name }}
									</a>
								</td>
                <td>{{ school.town }}</td>

								<td>{{ school.province }}</td>
							</tr>
	{% endfor %}
					</tbody>
					<tfoot>
						<tr>
						</tr>
					</tfoot>
				</table>
			</div>

{% else %}
			<p>Non hai escolas con vídeos inscritos.</p>
{% endif %}

<ul class="actions">
	<li><a href="" class="button special" onclick="window.history.back(); return false;">Voltar</a></li>
</ul>

</div>
</section>
{% endblock content %}


{% block javascripts %}
{{ parent() }}
{###################    DATATABLES  ################################}
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
<script>
$(document).ready(function() {
    $('#example').DataTable({
			"order": [[ 0, "desc" ]],
      {{ include('/includes/datatables.gl.js.twig') }}
		}	);

    $(document).on('click', 'span', function () {
        // Se o usuario non iniciou sesión. MELLORAR ESTE CÓDIGO...
    } );
} );
</script>


<script>
{###################    CONFIRMACIÓN DE BORRADO  ################################}
$('.borrar').click(function  () {
  if (confirm('Seguro que queres borrar esta escola?')) {
     var url = "{{ path('admin_list_escola_borrar', {'schoolId': 'SchoolId'}) }}";
     var videoId = this.className.split(' ')[1].slice(1);
     url = url.replace("SchoolId", videoId);

     window.location.href=url;
  }
});
</script>

{###################    PRESENTACIÓN DEL MAPA  ################################}
<script>
function myMap() {
  // DEFINE Y PRESENTA EL MAPA
  var myLatLng = {lat: 42.8639865, lng: -8.0536063};
  var CentroMapa = new google.maps.LatLng(myLatLng);
  var mapCanvas = document.getElementById("map");
  var mapOptions = {center: CentroMapa, zoom: 7, mapTypeId: google.maps.MapTypeId.HYBRID};
  var map = new google.maps.Map(mapCanvas, mapOptions);

  {% if schools %}
  // OBTÉN E ALMACENA OS DATOS DOS CENTROS PARA O MAPA
  var puntosInteres = [
  {% for school in schools %}
    {% if school.coordx and school.coordy %}
      {name:"{{school.name}}",
       url:"{{ path('escola', {'schoolId': school.id}) }}",
       lat:{{ school.coordx }}, lon:{{ school.coordy }},
       town:"{{ school.town }} - {{ school.province }}",
       numVideos:{{ school.videos|length }},
     },
    {% endif %}
  {% endfor %}
  ];
  {% endif %}


  var marker = [];
  for (i = 0; i < puntosInteres.length; i++) {
    // DEFINE E PRESENTA CADA MARCADOR
    var Coord = new google.maps.LatLng(puntosInteres[i].lat, puntosInteres[i].lon);
    marker[i] = new google.maps.Marker({position:Coord});
    marker[i].setMap(map);

    // Ventada de información
    var contido = "<h1 style='color:black;'><a href='" + puntosInteres[i].url + "'>" + puntosInteres[i].name + "</a></h1>";
    contido += "<p style='color:black;'>" +puntosInteres[i].town + "<br/>"+puntosInteres[i].numVideos+" vídeos inscritos"+"</p>"
    marker[i].info = new google.maps.InfoWindow({
    content:contido
    });
    marker[i].addListener('click', function() {
      this.info.open(map,this);
    });
  }
  }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDe0hq4JB0U2umcLy1aWRBO4g_YYEM1Nno&callback=myMap"></script>

{% endblock javascripts %}
