{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{% extends "layout.html.twig" %}


{% block content %}
{{ parent() }}

		<section id="one" class="wrapper style2">
			<div class="inner">

			<h2><span class="fa fa-institution" style="color: #ED4933;"></span>
	    {{ school.name }}
			{% if is_granted('ROLE_ADMIN') %}
	      <a href="{{ path('escola_editar', {'schoolId': school.id}) }}">
	      <span title="Editar" class="fa fa-edit" style="color: #ED4933;"></span></a>
	      <span id="borrar" title="Borrar" class="fa fa-trash" style="color: #ED4933;"></span>
	    {% endif %}
		</h2>

		{############### DATOS BÁSICOS ##################}
			<ul>
				{% if school.address %}
					<li><b>Enderezo:</b> {{ school.address }}. CP: {{ school.cp }}</li>
				{% endif %}
				{% if school.town %}
					<li><b>Concello:</b> {{ school.town }}</li>
				{% endif %}
				{% if school.province %}
					<li><b>Provincia:</b> {{ school.province }}</li>
				{% endif %}
				{% if school.phone %}
					<li><b>Teléfono:</b> {{ school.phone }}</li>
				{% endif %}
				{% if school.email %}
					<li><b>Correo-e:</b> {{ school.email }}</li>
				{% endif %}
			</ul>


			{############### MAPA ##################}
			{% if school.coordx %}
				<div id="map" style="width:100%;height:400px;background-color:green;margin:auto;"></div>
			{% endif %}


			{############### VÍDEOS ##################}
			{% if school.videos %}
				<br/>
			  <h3>Vídeos Inscritos ({{ school.videos|length }})</h3>
						<div class="table-wrapper">
							<table id="example" class="compact stripe hover row-border order-column nowrap" cellspacing="0" width="100%">
								<thead>
									<tr>
			              {#<th></th>#}
			              <th>
			                {% if is_granted('ROLE_ADMIN') %}
			                    <span title="Editar" class="fa fa-edit"></span>
			                {% endif %}
			                <span title="Visto" class="fa fa-eye" style="color:navy"></span>
			                <span title="Favorito" class="fa fa-star" style="color:gold"></span>
			                <span title="Encántame!!" class="fa fa-heart" style="color:red"></span>
			                <span title="Premios" class="fa fa-trophy" style="color:gold"></span>
			              </th>
										<th>Título</th>
										<th>Nivel Educativo</th>
			              <th>Duración</th>
										<th>Data Inscrición</th>
									</tr>
								</thead>
								<tbody>
				{% for video in school.videos %}
							      <tr>
			                {### CALCULA SUMA DE LIKES, LOVES E COMPROBA AS MARCAS DO USUARIO ###}
			                {% set likes, loves = 0, 0 %}
			                {% set liked, loved, seen = 0, 0, 0 %}

			                {% if video.marks %}
			                  {% for mark in video.marks %}
			                      {% if mark.loved %} {% set loves = loves + 1 %} {% endif %}
			                      {% if mark.liked %} {% set likes = likes + 1 %} {% endif %}
			                      {% if mark.user == app.user %}
			                        {% if mark.loved %} {% set loved = 1 %} {% endif %}
			                        {% if mark.liked %} {% set liked = 1 %} {% endif %}
			                        {% if mark.seen %} {% set seen = 1 %} {% endif %}
			                      {% endif %}
			                  {% endfor %}
			                {% endif %}

			                {### ESTABLECE O CRITERIO DE ORDENACIÓN DAS MARCAS ###}
											{% set order = loves ~ likes ~ video.awards|length %}
			                <td data-order="{{ order }}">
			                  {% if is_granted('ROLE_ADMIN') %}
			                      <a href="{{ path('video_editar', {'videoId': video.id}) }}">
			                      <span title="Editar" class="fa fa-edit"></span></a>
			                  {% endif %}
			                  {% if seen %}
			                    <span class="seen v{{ video.id }} fa fa-eye" title="Marcar como non visto"></span>
			                  {% else %}
			                    <span class="unseen v{{ video.id }} fa fa-eye-slash" title="Marcar como visto"></span>
			                  {% endif %}

			                  {% if liked %}
			                    <span class="liked v{{ video.id }} fa fa-star" title="({{ likes }}) Eliminar de favoritos"></span>
			                  {% else %}
			                    <span class="unliked v{{ video.id }} fa fa-star-o" title="({{ likes }}) Gardar como favorito"></span>
			                  {% endif %}

			                  {% if loved %}
			                    <span class="loved v{{ video.id }} fa fa-heart" title="({{ loves }}) Xa non me encanta :("></span>
			                  {% else %}
			                    <span class="unloved v{{ video.id }} fa fa-heart-o" title="({{ loves }}) Encántame!!"></span>
			                  {% endif %}

			                  {% if video.awards %}
			                    {% for award in video.awards %}
			                       <span title="{{ award.contest.name }} - {{ award.name }}" class="fa fa-trophy" style="color:gold"></span>
			                    {% endfor %}
			                  {% endif %}

			                </td>
											<td data-order="{{ video.title }}" data-search="{{ video.title }}">
												<a href="{{ path('video_ver', {'videoId': video.id}) }}" title="{{ video.description|e }}">
													{{ video.title }}
												</a>
											</td>
			                <td>
													{{ video.educationLevel }}
											</td>

											<td>{{ video.duration|date('i:s') }}</td>
											<td data-order="{{ video.registrationDateTime|date('Y-m-d') }}">{{ video.registrationDateTime|date('d-m-Y') }}</td>
										</tr>
				{% endfor %}
								</tbody>
								<tfoot>
									<tr>
									</tr>
								</tfoot>
							</table>
						</div>


			{% else %}
						<h3>Aínda non hai vídeos inscritos.</h3>
			{% endif %}

			  <ul class="actions">
			  	<li><a href="{{ path('video_novo') }}" class="button special">Inscribir Vídeo</a></li>
			  	<li><a href="" class="button special" onclick="window.history.back(); return false;">Voltar</a></li>
			  </ul>
		</div>
	</section>
{% endblock %}





{% block javascripts %}
{{ parent() }}
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
<script>
$(document).ready(function() {
    $('#example').DataTable({
			"order": [[ 0, "desc" ]],
      {{ include('/includes/datatables.gl.js.twig') }}
		}	);

		{### AJAX - MARCADORES - ONCLICK - Afecta só aos elementos da táboa ###}
    $(document).on('click', 'td span', function () {
        // Se o usuario non iniciou sesión. MELLORAR ESTE CÓDIGO...
        {% if not app.user %}
          window.location.assign("/login");
        {% else %}
          var markElement = this;
          var videoId = this.className.split(' ')[1].slice(1);
          var previousMark = this.className.split(' ')[0];

          var url = "{{ path('video_marcar', {'videoId': 'videoId', 'previousMark': 'markValue'}) }}";
          url = url.replace("videoId", videoId);
          url = url.replace("markValue", previousMark);

          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
              switch (previousMark){
                case "unliked":
                  markElement.className = "liked v" + videoId + " fa fa-star";
                  markElement.title = markElement.title.replace("Gardar como favorito", "Eliminar de favoritos");
                  break;
                case "liked":
                  markElement.className = "unliked v" + videoId + " fa fa-star-o";
                  markElement.title = markElement.title.replace("Eliminar de favoritos", "Gardar como favorito");
                  break;
                case "unloved":
                  markElement.className = "loved v" + videoId + " fa fa-heart";
                  markElement.title = markElement.title.replace("Encántame!!", "Xa non me encanta :(");
                  break;
                case "loved":
                  markElement.className = "unloved v" + videoId + " fa fa-heart-o";
                  markElement.title = markElement.title.replace("Xa non me encanta :(", "Encántame!!");
                  break;
                case "unseen":
                  markElement.className = "seen v" + videoId + " fa fa-eye";
                  markElement.title = "Marcar como visto";
                  break;
                case "seen":
                  markElement.className = "unseen v" + videoId + " fa fa-eye-slash";
                  markElement.title = "Marcar como non visto";
                  break;
              }
            }
          };
          xhttp.open("GET", url, true);
          xhttp.send();
        {% endif %}
    } );
} );

</script>



{###################    PRESENTACIÓN DEL MAPA  ################################}
<script>
function myMap() {
  // DEFINE E PRESENTA O MAPA
  var myLatLng = {lat: {{ school.coordx }}, lng: {{ school.coordy }}};
  var CentroMapa = new google.maps.LatLng(myLatLng);
  var mapCanvas = document.getElementById("map");
  var mapOptions = {center: CentroMapa, zoom: 15, mapTypeId: google.maps.MapTypeId.HYBRID};
  var map = new google.maps.Map(mapCanvas, mapOptions);

	// DEFINE E PRESENTA O MARCADOR
	var marker = new google.maps.Marker({
	          position: myLatLng,
	          map: map,
	          title: '{{ school.name }}'
	        });
  }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDe0hq4JB0U2umcLy1aWRBO4g_YYEM1Nno&callback=myMap"></script>




{% endblock javascripts %}
