{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{% trans_default_domain 'FOSUserBundle' %}

<h2><span class="fa fa-lock" style="color: #ED4933;"></span>
  Mudar Contrasinal</h2>
{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
{{ form_widget(form) }}
<br />
<div>
    <input type="submit" value="{{ 'change_password.submit'|trans }}" class="special" />
    <input type="button" value="Cancelar" onclick="window.history.back(); return false;" class="special" />
</div>
{{ form_end(form) }}
