{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{# contest/awards.html.twig #}
{% extends 'layout.html.twig' %}


{% block content %}
{{ parent() }}
<article id="main">
		<section id="one" class="wrapper style2">
			<div class="inner">
			<h2><span class="fa fa-trophy" style="color: #ED4933;"></span>
        {{ contest.name }} - Premios</h2>

{% if contest.awards %}
			<div class="table-wrapper">
				<table id="example" class="compact stripe hover row-border order-column nowrap" cellspacing="0" width="100%">
					<thead>
						<tr>
              <th>Premio</th>
              <th></th>
              <th>Título gañador</th>
              {#<th>Duración</th>#}
              <th>
                <span title="Visto" class="fa fa-eye" style="color:navy"></span>
                <span title="Favorito" class="fa fa-star" style="color:gold"></span>
                <span title="Encántame!!" class="fa fa-heart" style="color:red"></span>
                <span title="Premios" class="fa fa-trophy" style="color:gold"></span>
              </th>
            </tr>
					</thead>
					<tbody>
	{% for award in contest.awards %}
				      <tr>
                <td title="{{ award.description|e }}" style="vertical-align: middle">
										{{ award.name }}
								</td>
        {% if award.video  %}
            {% set video = award.video %}

                <td style="vertical-align: middle"><a href="{{ path('video_ver', {'videoId': video.id}) }}">
										 <img src="{{ video.urlThumbnail }}" width="100" height="75"
										 	    alt="{{ video.title }}"
													title="Duración: {{ video.duration|date('i:s') }}" />
										</a>
								</td>
								<td data-order="{{ video.title }}" style="vertical-align: middle">
									<a href="{{ path('video_ver', {'videoId': video.id}) }}" title="{{ video.description|e }}">
										{{ video.title }}
									</a>
								</td>
                {### CALCULA SUMA DE LIKES, LOVES E COMPROBA AS MARCAS DO USUARIO ###}
                {% set likes, loves = 0, 0 %}
                {% set liked, loved, seen = 0, 0, 0 %}

                {% if video.marks %}
                  {% for mark in video.marks %}
                      {% if mark.loved %} {% set loves = loves + 1 %} {% endif %}
                      {% if mark.liked %} {% set likes = likes + 1 %} {% endif %}
                      {% if mark.user == app.user %}
                        {% if mark.loved %} {% set loved = 1 %} {% endif %}
                        {% if mark.liked %} {% set liked = 1 %} {% endif %}
                        {% if mark.seen %} {% set seen = 1 %} {% endif %}
                      {% endif %}
                  {% endfor %}
                {% endif %}

                {### ESTABLECE O CRITERIO DE ORDENACIÓN DAS MARCAS ###}
                {% set order = loves ~ likes ~ video.awards|length %}
                <td data-order="{{ order }}" style="vertical-align: middle">
                  {% if seen %}
                    <span class="seen v{{ video.id }} fa fa-eye" title="Marcar como non visto"></span>
                  {% else %}
                    <span class="unseen v{{ video.id }} fa fa-eye-slash" title="Marcar como visto"></span>
                  {% endif %}

                  {% if liked %}
                    <span class="liked v{{ video.id }} fa fa-star" title="({{ likes }}) Eliminar de favoritos"></span>
                  {% else %}
                    <span class="unliked v{{ video.id }} fa fa-star-o" title="({{ likes }}) Gardar como favorito"></span>
                  {% endif %}

                  {% if loved %}
                    <span class="loved v{{ video.id }} fa fa-heart" title="({{ loves }}) Xa non me encanta :("></span>
                  {% else %}
                    <span class="unloved v{{ video.id }} fa fa-heart-o" title="({{ loves }}) Encántame!!"></span>
                  {% endif %}

                  {% if video.awards %}
                    {% for award in video.awards %}
                       <span title="{{ award.contest.name }} - {{ award.name }}" class="fa fa-trophy" style="color:gold"></span>
                    {% endfor %}
                  {% endif %}

                </td>
        {% else  %}
                <td colspan="3">Aínda non hai gañador seleccionado.</td>
                {# REVISAR: Se o usuario é o administrador ou o organizador presentar ligazón para seleccionar ....#}
        {% endif %}

							</tr>
	{% endfor %}
					</tbody>
					<tfoot>
						<tr>
						</tr>
					</tfoot>
				</table>
			</div>


{% else %}
			<p>Aínda non hai categorías de premios definidas.</p>
{% endif %}

<ul class="actions">
  <li><a href="" class="button special" onclick="window.history.back(); return false;">Voltar</a></li>
</ul>


</div>
</section>
</article>
{% endblock content %}



{% block javascripts %}
{{ parent() }}
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
<script>
$(document).ready(function() {
    $('#example').DataTable({
			"order": [[ 0, "desc" ]],
      paging: false,
      searching: false,
      {{ include('/includes/datatables.gl.js.twig') }}
		}	);

    {### AJAX - MARCADORES - ONCLICK - Afecta só aos elementos da táboa ###}
    $(document).on('click', 'td span', function () {
        // Se o usuario non iniciou sesión. MELLORAR ESTE CÓDIGO...
        {% if not app.user %}
          window.location.assign("/login");
        {% else %}
          var markElement = this;
          var videoId = this.className.split(' ')[1].slice(1);
          var previousMark = this.className.split(' ')[0];

          var url = "{{ path('video_marcar', {'videoId': 'videoId', 'previousMark': 'markValue'}) }}";
          url = url.replace("videoId", videoId);
          url = url.replace("markValue", previousMark);

          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
              switch (previousMark){
                case "unliked":
                  markElement.className = "liked v" + videoId + " fa fa-star";
                  markElement.title = markElement.title.replace("Gardar como favorito", "Eliminar de favoritos");
                  break;
                case "liked":
                  markElement.className = "unliked v" + videoId + " fa fa-star-o";
                  markElement.title = markElement.title.replace("Eliminar de favoritos", "Gardar como favorito");
                  break;
                case "unloved":
                  markElement.className = "loved v" + videoId + " fa fa-heart";
                  markElement.title = markElement.title.replace("Encántame!!", "Xa non me encanta :(");
                  break;
                case "loved":
                  markElement.className = "unloved v" + videoId + " fa fa-heart-o";
                  markElement.title = markElement.title.replace("Xa non me encanta :(", "Encántame!!");
                  break;
                case "unseen":
                  markElement.className = "seen v" + videoId + " fa fa-eye";
                  markElement.title = "Marcar como visto";
                  break;
                case "seen":
                  markElement.className = "unseen v" + videoId + " fa fa-eye-slash";
                  markElement.title = "Marcar como non visto";
                  break;
              }
            }
          };
          xhttp.open("GET", url, true);
          xhttp.send();
        {% endif %}
    } );
} );

</script>
{% endblock javascripts %}
