{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{# contest/awardEdit.html.twig #}
{% extends "layout.html.twig" %}

{% block content %}
{{ parent() }}
<section id="one" class="wrapper style2">
	<div class="inner">
		<h2><span class="fa fa-edit" style="color: #ED4933;"></span>
			Editar Categoría de premios</h2>
		<p>Edita o nome, ou a descrición. <br/>
			Poderás seleccionar os vídeos nominados a cada categoría de entre os vídeos seleccionados a concurso.<br/>
		  Poderás seleccionar o vídeo gañador de cada categoría de entre os vídeos nominados. </p>

			{{ form_start(form) }}
			{# <div id="form_error">{{ form_errors(form) }}</div> #}

			{{ form_widget(form) }}
			<p><br/><input id="btnEnviar" type="submit" value="Gardar" class="special" /></p>
			{{ form_end(form) }}

			<h3>Xestionar Nominacións</h3>

			{% if award.nominations|length > 0 %}
				<h4>Vídeos nominados</h4>

				<div class="table-wrapper">
					<table id="example" class="compact stripe hover row-border order-column nowrap" cellspacing="0" width="100%">
						<thead>
							<tr>
	              <th>Título Vídeo nominados</th>
	              <th>Accións</th>
	            </tr>
						</thead>
						<tbody>
		{% for video in award.nominations %}
			      <tr>
              <td>
								<a href="{{ path('video_ver', {'videoId': video.id}) }}" title="{{ video.description|e }}">
									{{ video.title }}
								</a>
							</td>
							<td>
								<a href="{{ path('nominacion_borrar', {'awardId': award.id, 'videoId':video.id}) }}">
									<span class="icon fa-trash" title="Borrar"></span></a>
							</td>
						</tr>
		{% endfor %}
					</tbody>
				</table>
				</div>
	{% else %}
		<p>Aínda non hai traballos nominados. Podes engadilos de entre os traballos seleccionados a concurso.</p>
	{% endif %}




			{{ form_start(formNom) }}
			{# <div id="form_error">{{ form_errors(formNom) }}</div> #}

			{{ form_widget(formNom) }}
			<p><br/><input id="btnEnviar" type="submit" value="Engadir Nominación" class="special" /></p>
			{{ form_end(formNom) }}


			{{ form_start(formWin) }}
			{# <div id="form_error">{{ form_errors(formWin) }}</div> #}

			{{ form_widget(formWin) }}
			<p><br/><input id="btnEnviar" type="submit" value="Seleccionar Gañador" class="special" /></p>
			{{ form_end(formWin) }}


			<ul class="actions">
				<li><a href="" class="button special" onclick="window.history.back(); return false;">Voltar</a></li>
			</ul>



		</div>
	</section>
{% endblock content %}
