{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{% extends "layout.html.twig" %}


{% block content %}
{{ parent() }}

	<section id="one" class="wrapper style2">
		<div class="inner">

			<h2><span class="fa fa-trophy" style="color: #ED4933;"></span>
				{{ contest.name }}</h2>

			{% if is_granted('ROLE_ADMIN') %}
				<div><b>Publicado </b>({{ contest.published }})</div>
			{% endif %}
			{% if contest.description %}
				<p><b>Descrición: </b>{{ contest.description|raw }}</p>
			{% endif %}

			{% if is_granted('ROLE_ADMIN') and contest.user %}
				<p><b>Usuario organizador: </b>{{ contest.user }}</p>
			{% endif %}


{% if is_granted('ROLE_ADMIN') or is_granted('IS_AUTHENTICATED_FULLY') and (app.user.username == contest.user) %}
	<h4>Asignar Premios</h4>
	{{ form_start(form) }}
	{{ form_widget(form) }}
	<p><input id="btnEnviar" type="submit" value="Asignar Premios" class="special" /></p>
	{{ form_end(form) }}
{% endif %}

		</div>
	</section>
{% endblock %}
