{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{% extends "layout.html.twig" %}


{% block content %}
{{ parent() }}

		<section id="one" class="wrapper style2">
			<div class="inner">
			<h2><span class="fa fa-balance-scale" style="color: #ED4933;"></span>
			{{ contest.name }} - Xurado</h2>

			{% if contest.jury %}
			   <div>{{ contest.jury|raw }}</div>
			{% endif %}

			<ul class="actions">
				<li><a href="" class="button special" onclick="window.history.back(); return false;">Voltar</a></li>
			</ul>


		</div>
	</section>
{% endblock %}
