{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{# contest/list.html.twig #}
{% extends 'layout.html.twig' %}

{% block content %}
{{ parent() }}

<section id="contests" class="wrapper style2">
	<div class="inner">
		<h2><span class="fa fa-trophy" style="color: #ED4933;"></span>
			Concursos</h2>

{% if contests %}
			<div class="table-wrapper">
				<table>
					<thead>
						<tr>
							<th>Nome</th>
							<th>Detalles</th>
						</tr>
					</thead>
					<tbody>
	{% for contest in contests %}
				      <tr>
								<td>
									{# SE É ADMIN OU O ORGANIZADOR DO CONCURSO AMOSA O BOTÓN DE EDICIÓN #}
									{% if is_granted('ROLE_ADMIN') or is_granted('IS_AUTHENTICATED_FULLY') and (app.user.username == contest.user) %}
											<a href="{{ path('concurso_editar', {'contestId': contest.id}) }}">
											<span title="Editar" class="icon fa-edit" style="color:orange"></span></a>
									{% endif %}

									{% if "now"|date('Y-m-d') > contest.awardsDate|date('Y-m-d') %}
										<span title="Concurso rematado o {{ contest.awardsDate|date('d-m-Y') }}" class="icon fa-circle" style="color:red"></span>
									{% elseif "now"|date('Y-m-d') > contest.endRegistration|date('Y-m-d') %}
										<span title="Inscrición pechada. " class="icon fa-circle" style="color:yellow"></span>
									{% else %}
										<span title="Inscrición aberta ata {{ contest.endRegistration|date('d-m-Y') }}" class="icon fa-circle" style="color:lime"></span>
									{% endif %}


									<a href="{{ path('concurso_ver', {'contestId': contest.id}) }}">
										<span title="Examinar" class="icon fa-search"></span>
										{{ contest.name }}</a>
								</td>
								<td>
									{% if contest.bases %}
									   <a title="Bases" href="{{ path('concurso_bases', {'contestId': contest.id}) }}">
											 <span class="fa fa-file-text-o" style="color: cyan;"></span></a>
									{% endif %}

									{% if contest.participants|length > 0 %}
										 <a title="Vídeos participantes" href="{{ path('concurso_videos', {'contestId': contest.id}) }}">
											 <span class="fa fa-film" style="color: orange;"></span></a>
									{% endif %}

									{% if contest.sponsors %}
									   <a title="Colaboracións" href="{{ path('concurso_colabora', {'contestId': contest.id}) }}">
											 <span class="fa fa-group" style="color: fuchsia;"></span></a>
									{% endif %}

									{% if contest.awardsSchedule %}
									   <a title="Calendario de actividades e entrega de premios" href="{{ path('concurso_programa', {'contestId': contest.id}) }}">
											 <span class="fa fa-calendar" style="color: lime;"></span></a>
									{% endif %}

									{# REVISAR: SE HAI NOMINADOS > CANDO SE PUBLICAN?
															PUBLICA OS NOMINADOS SE A DATA ACTUAL É POSTERIOR Á DATA DE FIN DE INSCRICIÓN #}
									{% set nom = 0 %}
									{% for award in contest.awards %} {% if award.nominations|length > 0 %} {% set nom = nom + 1 %} {% endif %} {% endfor %}
									{% if "now"|date('Y-m-d') > contest.endRegistration|date('Y-m-d') and nom > 0 %}
											<a title="Nominados" href="{{ path('concurso_nominados', {'contestId': contest.id}) }}">
												<span class="fa fa-star" style="color: gold;"></span></a>
									{% endif %}

									{% if contest.jury %}
									   <a title="Xurado" href="{{ path('concurso_xurado', {'contestId': contest.id}) }}">
											 <span class="fa fa-balance-scale" style="color: gainsboro;"></span></a>
									{% endif %}

									{# REVISAR: SE HAI PREMIADOS > CANDO SE PUBLICAN?
															PUBLICA OS PREMIOS SE A DATA ACTUAL É POSTERIOR Á DATA DA ENTREGA DE PREMIOS #}
									{% if "now"|date('Y-m-d') > contest.awardsDate|date('Y-m-d') %}
										 <a title="Premios" href="{{ path('concurso_premios', {'contestId': contest.id}) }}">
											 <span class="fa fa-trophy" style="color: gold;"></span></a>
									{% endif %}

									{% if contest.finalReport %}
									   <a title="Memoria Final" href="{{ path('concurso_memoria', {'contestId': contest.id}) }}">
											 <span class="fa fa-flag-checkered" style="color: red;"></span></a>
									{% endif %}

								</td>
							</tr>
	{% endfor %}
					</tbody>
					<tfoot>
						<tr>
						</tr>
					</tfoot>
				</table>
			</div>


{% else %}
			<p>Aínda non hai concursos.</p>
{% endif %}

<ul class="actions">
	{% if is_granted('ROLE_ADMIN') %}
	<li><a href="{{ path('concurso_novo') }}" class="button special">Crear Concurso</a></li>
	{% endif %}
	<li><a href="" class="button special" onclick="window.history.back(); return false;">Voltar</a></li>
</ul>

			</div>
		</section>

{% endblock %}
