{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{# contest/new.html.twig #}
{% extends "layout.html.twig" %}


{% block content %}
{{ parent() }}
<section id="contests" class="wrapper style2">
	<div class="inner">
		<h2><span class="fa fa-trophy" style="color: #ED4933;"></span>
			Novo Concurso</h2>

			{{ form_start(form) }}
			<div id="form_error">{{ form_errors(form) }}</div>

{#			{{ form_widget(form) }}  #}

			{{ form_row(form.name) }}
			<p>Indica o nome do concurso e a edición. Por exemplo "OLLOBOI 2017".</p>

	    {{ form_row(form.description) }}
			<p>Engade unha descrición breve, dun ou dous párrafos.</p>

			{{ form_row(form.bases) }}
			<p>Redacta e formatea as bases. Amosaranse nunha páxina aparte. Podes enlzazar imaxes, vídeos e outros contidos.</p>

	    {{ form_row(form.startRegistration) }}
			{{ form_row(form.endRegistration) }}
			<p>Indica o prazo de inscrición do concurso, ou polo menos a data final.</p>

			{{ form_row(form.startVoting) }}
			{{ form_row(form.endVoting) }}
			<p>Se o concurso ten un premio do público indica o prazo para votar.</p>

			{{ form_row(form.awardsDate) }}
			<p>Cando se entregarán os premios? Os gañadores publicaranse automáticamente ao día seguinte.</p>

			{{ form_row(form.awardsSchedule) }}
			<p>Detalla aquí o programa de actividades e calquera información relacionada coa entrega de premios. Amosarase nunha páxina aparte.</p>

			{{ form_row(form.jury) }}
			<p>Como se decidirán os premios? Engade aquí información sobre o xurado. Amosarase nunha páxina aparte.</p>


			{{ form_row(form.sponsors) }}
			<p>Podes engadir tamén información sobre patrocinador@s, colaborador@s, etc. Amosarase nunha páxina aparte.</p>

			{{ form_row(form.finalReport) }}
			<p>Unha vez rematado o concurso, éste é o lugar algunha información extra. Amosarase nunha páxina aparte.</p>

			{{ form_row(form.url) }}
			<p>Se o concurso ten unha páxina oficial engade aquí a súa dirección.</p>

			{% if is_granted('ROLE_ADMIN') %}
				{{ form_row(form.user) }}<br/>
				<p>Queres delegar a organización do concurso noutro usuario?.</p>

				{{ form_row(form.published) }}<br/>
				<p>Marca a casilla para publicar o concurso.</p>
			{% endif %}




			<p><input id="btnEnviar" type="submit" value="Crear Concurso" class="special" /></p>

			{{ form_end(form) }}

			<ul class="actions">
				<li><a href="" class="button special" onclick="window.history.back(); return false;">Voltar</a></li>
			</ul>

		</div>
	</section>
{% endblock content %}



{% block javascripts %}
{{ parent() }}

{# TINYMCE PARA AMOSAR UN EDITOR HTML NOS CAMPOS GRANDES DE TIPO TEXTAREA #}
	<script src="{{ asset('assets/js/tinymce/tinymce.min.js') }}"></script>
	<script>
		tinymce.init({
			selector:'#contest_bases, #contest_awardsSchedule, #contest_jury, #contest_sponsors, #contest_finalReport',
			plugins : 'advlist autolink link image lists charmap print preview code',
			height : 300,
			language: 'gl'
		});
	</script>

	{# DATEPICKER PARA AMOSAR UN CALENDARIO NOS CAMPOS DE TIPO DATE
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
#}

<script>
		$.datepicker.regional['gl'] = {
		 closeText: 'Pechar',
		 prevText: '< Ant',
		 nextText: 'Seg >',
		 currentText: 'Hoxe',
		 monthNames: ['Xaneiro', 'Febreiro', 'Marzo', 'Abril', 'Maio', 'Xuño', 'Xullo', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Decembro'],
		 monthNamesShort: ['Xan','Feb','Mar','Abr', 'Mai','Xun','Xul','Ago','Set', 'Out','Nov','Dec'],
		 dayNames: ['Domingo', 'Luns', 'Martes', 'Mércores', 'Xoves', 'Venres', 'Sábado'],
		 dayNamesShort: ['Dom','Lun','Mar','Mér','Xov','Ven','Sáb'],
		 dayNamesMin: ['Do','Lu','Ma','Me','Xo','Ve','Sá'],
		 weekHeader: 'Sm',
		 dateFormat: 'dd/mm/yy',
		 firstDay: 1,
		 isRTL: false,
		 showMonthAfterYear: false,
		 yearSuffix: ''
	 };
		 $.datepicker.setDefaults($.datepicker.regional['gl']);

		$(function () {
		$(".js-datepicker").datepicker();
		});

	</script>
{% endblock javascripts %}
