{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{# contest/awards.html.twig #}
{% extends 'layout.html.twig' %}


{% block content %}
{{ parent() }}
<article id="main">
		<section id="one" class="wrapper style2">
			<div class="inner">
			<h2><span class="fa fa-star" style="color: #ED4933;"></span>
        {{ contest.name }} - Nominados</h2>
			<p>Traballos nominados ás distintas categorías de premios.</p>


{% if contest.awards %}
	<div class="table-wrapper">

	{% for award in contest.awards %}
			<h3>Categoría: {{ award.name }}</h3>
			{% if award.description %}
				<p>{{ award.description|e }}</p>
			{% endif %}

      {% if award.nominations and award.nominations|length > 0  %}

			<table class="award_nominations" class="compact stripe hover row-border order-column nowrap" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th></th>
						<th>Título</th>
						<th>Escola</th>
					</tr>
				</thead>
				<tbody>
					{% for video in award.nominations|sort %}
					<tr>
              <td style="vertical-align: middle"><a href="{{ path('video_ver', {'videoId': video.id}) }}">
									 <img src="{{ video.urlThumbnail }}" width="100" height="75"
									 	    alt="{{ video.title }}"
												title="Duración: {{ video.duration|date('i:s') }}" />
									</a>
							</td>
							<td data-order="{{ video.title }}" style="vertical-align: middle">
								<a href="{{ path('video_ver', {'videoId': video.id}) }}">
									{{ video.title }}
								</a>
							</td>
							<td data-order="{{ video.school }}" style="vertical-align: middle">
								<a href="{{ path('escola', {'schoolId': video.school.id}) }}">
									{{ video.school }}
								</a>
							</td>
					</tr>
					{% endfor %}
				</tbody>
				</table>

				{% else  %}
                <p>Aínda non hai nominados nesta categoría.</p>
        {% endif %}
			</br></br>
	{% endfor %}
	</div>

{% else %}
			<p>Aínda non hai categorías de premios definidas.</p>
{% endif %}

<ul class="actions">
  <li><a href="" class="button special" onclick="window.history.back(); return false;">Voltar</a></li>
</ul>


</div>
</section>
</article>
{% endblock content %}



{% block javascripts %}
{{ parent() }}
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
<script>
$(document).ready(function() {
    $('.award_nominations').DataTable({
			"order": [[ 1, "asc" ]],
      paging: false,
      searching: false,
			"info": false,

      {{ include('/includes/datatables.gl.js.twig') }}
		}	);

    {### AJAX - MARCADORES - ONCLICK - Afecta só aos elementos da táboa ###}
    $(document).on('click', 'td span', function () {
        // Se o usuario non iniciou sesión. MELLORAR ESTE CÓDIGO...
        {% if not app.user %}
          window.location.assign("/login");
        {% else %}
          var markElement = this;
          var videoId = this.className.split(' ')[1].slice(1);
          var previousMark = this.className.split(' ')[0];

          var url = "{{ path('video_marcar', {'videoId': 'videoId', 'previousMark': 'markValue'}) }}";
          url = url.replace("videoId", videoId);
          url = url.replace("markValue", previousMark);

          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
              switch (previousMark){
                case "unliked":
                  markElement.className = "liked v" + videoId + " fa fa-star";
                  markElement.title = markElement.title.replace("Gardar como favorito", "Eliminar de favoritos");
                  break;
                case "liked":
                  markElement.className = "unliked v" + videoId + " fa fa-star-o";
                  markElement.title = markElement.title.replace("Eliminar de favoritos", "Gardar como favorito");
                  break;
                case "unloved":
                  markElement.className = "loved v" + videoId + " fa fa-heart";
                  markElement.title = markElement.title.replace("Encántame!!", "Xa non me encanta :(");
                  break;
                case "loved":
                  markElement.className = "unloved v" + videoId + " fa fa-heart-o";
                  markElement.title = markElement.title.replace("Xa non me encanta :(", "Encántame!!");
                  break;
                case "unseen":
                  markElement.className = "seen v" + videoId + " fa fa-eye";
                  markElement.title = "Marcar como visto";
                  break;
                case "seen":
                  markElement.className = "unseen v" + videoId + " fa fa-eye-slash";
                  markElement.title = "Marcar como non visto";
                  break;
              }
            }
          };
          xhttp.open("GET", url, true);
          xhttp.send();
        {% endif %}
    } );
} );

</script>
{% endblock javascripts %}
