{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{% extends "layout.html.twig" %}


{% block content %}
{{ parent() }}

	<section id="one" class="wrapper style2">
		<div class="inner">

			<h2><span class="fa fa-trophy" style="color: #ED4933;"></span>
				{{ contest.name }}

				{# SE É ADMIN OU O ORGANIZADOR DO CONCURSO AMOSA O BOTÓN DE EDICIÓN #}
				{% if is_granted('ROLE_ADMIN') or is_granted('IS_AUTHENTICATED_FULLY') and (app.user.username == contest.user) %}
					<a href="{{ path('concurso_editar', {'contestId': contest.id}) }}">
					<span title="Editar" class="icon fa-edit" style="color:#ED4933;"></span></a>
					<a href="{{ path('concurso_borrar', {'contestId': contest.id}) }}">
					<span title="Borrar" class="icon fa-trash" style="color:#ED4933;"></span></a>
				{% endif %}
			</h2>

			{% if is_granted('ROLE_ADMIN') %}
				<div><b>Publicado </b>({{ contest.published }})</div>
			{% endif %}
			{% if contest.description %}
				<p><b>Descrición: </b>{{ contest.description|raw }}</p>
			{% endif %}

			{% if is_granted('ROLE_ADMIN') and contest.user %}
				<p><b>Usuario organizador: </b>{{ contest.user }}</p>
			{% endif %}

<ul>
			{% if contest.bases %}
			   <li><a href="{{ path('concurso_bases', {'contestId': contest.id}) }}">
					 <span class="fa fa-file-text-o" style="color: cyan;"></span>
					 <b>Bases</b></a></li>
			{% endif %}

			{% if contest.participants|length > 0 %}
			   <li><a href="{{ path('concurso_videos', {'contestId': contest.id}) }}">
					 <span class="fa fa-film" style="color: orange;"></span>
					 <b>Vídeos participantes</b></a></li>
			{% endif %}

			{% if contest.startRegistration %}
			   <li><b>Data Inicio Inscrición: </b>{{ contest.startRegistration|date('d-m-Y') }}</li>
			{% endif %}

			{% if contest.endRegistration %}
			   <li><b>Data Fin Inscrición: </b>{{ contest.endRegistration|date('d-m-Y') }}</li>
			{% endif %}

			{% if contest.sponsors %}
			   <li><a href="{{ path('concurso_colabora', {'contestId': contest.id}) }}">
					 <span class="fa fa-group" style="color: fuchsia;"></span>
					 <b>Colaboracións</b></a></li>
			{% endif %}

				{% if contest.awardsSchedule %}
			   <li><a href="{{ path('concurso_programa', {'contestId': contest.id}) }}">
					 <span class="fa fa-calendar" style="color: lime;"></span>
					 <b>Calendario de actividades e entrega de premios</b></a></li>
			{% endif %}

			{% if contest.startVoting %}
				 <li><b>Data Inicio Votación: </b>{{ contest.startVoting|date('d-m-Y') }}</li>
			{% endif %}

			{% if contest.endVoting %}
				 <li><b>Data Fin Votación: </b>{{ contest.endVoting|date('d-m-Y') }}</li>
			{% endif %}

			{# REVISAR: SE HAI NOMINADOS > CANDO SE PUBLICAN?
									PUBLICA OS NOMINADOS SE A DATA ACTUAL É POSTERIOR Á DATA DE FIN DE INSCRICIÓN #}
			{% set nom = 0 %}
			{% for award in contest.awards %} {% if award.nominations|length > 0 %} {% set nom = nom + 1 %} {% endif %} {% endfor %}
			{% if "now"|date('Y-m-d') > contest.endRegistration|date('Y-m-d') and nom > 0 %}
					<li><a href="{{ path('concurso_nominados', {'contestId': contest.id}) }}">
						<span class="fa fa-star" style="color: gold;"></span>
						<b>Nominados</b></a></li>
			{% endif %}

			{% if contest.jury %}
			   <li><a href="{{ path('concurso_xurado', {'contestId': contest.id}) }}">
					 <span class="fa fa-balance-scale" style="color: gainsboro;"></span>
					 <b>Xurado</b></a></li>
			{% endif %}

			{% if contest.awardsDate %}
			   <li><b>Data Entrega de Premios: </b>{{ contest.awardsDate|date('d-m-Y') }}</li>
			{% endif %}

			{# REVISAR: SE HAI PREMIADOS > CANDO SE PUBLICAN?
									PUBLICA OS PREMIOS SE A DATA ACTUAL É POSTERIOR Á DATA DA ENTREGA DE PREMIOS #}
			{% if "now"|date('Y-m-d') > contest.awardsDate|date('Y-m-d') %}
					<li><a href="{{ path('concurso_premios', {'contestId': contest.id}) }}">
						<span class="fa fa-trophy" style="color: gold;"></span>
						<b>Premios</b></a></li>
			{% endif %}

		{% if contest.finalReport %}
			   <li><a href="{{ path('concurso_memoria', {'contestId': contest.id}) }}">
					 <span class="fa fa-flag-checkered" style="color: red;"></span>
					 <b>Memoria final</b></a></li>
			{% endif %}

			{% if contest.url %}
			   <li><b>Web externa: </b><a href="{{ contest.url }}">{{ contest.url }}</a></li>
			{% endif %}
</ul>

{###  NAVEGACIÓN  ###}
			<p>
				<a href="{{ path('concursos') }}" class="button special">Todos os concursos</a>
			</p>







{% if contest.awards|length > 0 %}
<h3>Categorías de Premios </h3>
	<div class="table-wrapper">
		<table>
			<thead>
				<tr>
					<th>Premio</th>
					<th>Descrición</th>
					{% if is_granted('ROLE_ADMIN') or is_granted('IS_AUTHENTICATED_FULLY') and (app.user.username == contest.user) %}
						<th>Accións</th>
					{% endif %}
				</tr>
			</thead>
			<tbody>
{% for award in contest.awards %}
					<tr>
						<td>{{ award.name }}</td>
						<td>{{ award.description }}</td>
						{% if is_granted('ROLE_ADMIN') or is_granted('IS_AUTHENTICATED_FULLY') and (app.user.username == contest.user) %}
						<td>
							<a href="{{ path('premio_editar', {'awardId': award.id}) }}">
								<span class="icon fa-edit" title="Editar"></span></a>
							<a href="{{ path('premio_borrar', {'awardId': award.id}) }}">
								<span class="icon fa-trash" title="Borrar"></span></a>
						</td>
						{% endif %}
					</tr>
{% endfor %}
			</tbody>
		</table>
	</div>

	<p>
		{% if is_granted('ROLE_ADMIN') or is_granted('IS_AUTHENTICATED_FULLY') and (app.user.username == contest.user) %}
			<a href="{{ path('concurso_asignar_premios', {'contestId': contest.id}) }}" class="button special">Asignar Premios</a>
		{% endif %}
		<a href="" class="button special" onclick="window.history.back(); return false;">Voltar</a>
	</p>
{% endif %}



{% if is_granted('ROLE_ADMIN') or is_granted('IS_AUTHENTICATED_FULLY') and (app.user.username == contest.user) %}
	<h4>Nova Categoría de Premios</h4>
	{{ form_start(form) }}
	{{ form_widget(form) }}
	<p><input id="btnEnviar" type="submit" value="Crear Categoría" class="special" /></p>
	{{ form_end(form) }}
{% endif %}






		</div>
	</section>
{% endblock %}
