{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<h2><span class="fa fa-key" style="color: #ED4933;"></span>
Entra en Olloboi</h2>
<form action="{{ path("fos_user_security_check") }}" method="post" id="form_login">
    {% if csrf_token %}
    		<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
		{% endif %}
		<input type="hidden" name="_target_path" value="fos_user_profile_show" />

		<div class="6u 12u$(xsmall)">
			<label for="username">{{ 'security.login.username'|trans }}</label>
	    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

	    <label for="password">{{ 'security.login.password'|trans }}</label>
	    <input type="password" id="password" name="_password" required="required" />

		<br />

		<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

    <input type="hidden"
           name="_target_path"
           value="{{ app.session.get("_security.main.target_path") }}">

			<ul class="actions">
				<li><input type="button" onclick="checkMails();" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="special" /></li>
			</ul>
		</div>

</form>

<p>Esqueciches o teu contrasinal? Aínda non es usuari@?</p>
<ul class="actions">
	<li><a href="{{ path('fos_user_resetting_request') }}" class="button special">Restablecer contrasinal</a></li>
	<li><a href="{{ path('fos_user_registration_register') }}" class="button special">Rexistrarse</a></li>
</ul>
