{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    {{ include('@FOSUser/Security/login_content.html.twig') }}
{% endblock fos_user_content %}

{% block javascripts %}
{{ parent() }}
<script>
function checkMails(){
          var url = "{{ path('secondary_mails', {'mail': 'mailValue'}) }}";
          url = url.replace("mailValue", document.getElementById("username").value);
          //alert (document.getElementById("username").value);
          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
              document.getElementById("username").value = this.responseText;
              document.getElementById("form_login").submit();
            } else {
              //document.getElementById("form_login").submit();
            }
          };
          xhttp.open("GET", url, true);
          xhttp.send();
    }

</script>
{% endblock javascripts %}
