{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{% extends 'layout.html.twig' %}

{% block content %}
{{ parent() }}
<section id="videos" class="wrapper style2">
	<div class="inner">

				{% for type, messages in app.session.flashBag.all %}
						{% for message in messages %}
								<div class="{{ type }}">
										{{ message|trans({}, 'FOSUserBundle') }}
								</div>
						{% endfor %}
				{% endfor %}

{% block fos_user_content %}

{% endblock %}

</div>
</section>
{% endblock %}
