{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{# admin/adminVideos.html.twig #}
{% extends 'layout.html.twig' %}

{% block content %}
{{ parent() }}

<section class="wrapper style2">
	<div class="inner">

		<h2><span class="fa fa-envelope" style="color: #ED4933;"></span>
		Correo enviado!!</h2>

		<div>
			{{ message }}
		</div>

<ul class="actions">
	<li><a href="" class="button special" onclick="window.history.back(); return false;">Voltar</a></li>
</ul>

			</div>
		</section>

{% endblock content %}
