{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{# admin/mail/write.html.twig #}
{% extends 'layout.html.twig' %}

{% block content %}
{{ parent() }}

<section class="wrapper style2">
	<div class="inner">

		<h2><span class="fa fa-envelope" style="color: #ED4933;"></span>
		Escribir correo</h2>
		  {{ form_start(form) }}
		    <div>
		        {{ form_widget(form) }}
		    </div>
		    <div>
		        <br />
		        <input type="submit" value="Enviar" class="special"  />
		    </div>
		</form>





<ul class="actions">
	<li><a href="" class="button special" onclick="window.history.back(); return false;">Voltar</a></li>
</ul>

			</div>
		</section>

{% endblock content %}

{% block javascripts %}
{{ parent() }}
	<script src="{{ asset('assets/js/tinymce/tinymce.min.js') }}"></script>
	<script>
		tinymce.init({
			selector:'#form_header, #form_body, #form_footer',
			plugins : 'advlist autolink link image lists charmap print preview code',
			height : 200,
			language: 'gl'
		});
	</script>
{% endblock javascripts %}
