{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

<h2><span class="fa fa-envelope" style="color: #ED4933;"></span>
Restablecer Contrasinal</h2>
{#<p>{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}#}
	<br />
	<p>Acabámosche de enviar un email á dirección que tes configurada como correo electrónico principal ({{ username }}) con instruccións para restablecer o teu contrasinal.
		Por favor, revisa o teu buzón de correo electrónico.</p>

	<p><a href="{{ path('index') }}" class="button special">Continuar</a></p>




{% endblock %}
