{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
{% autoescape false %}
{{ 'resetting.email.subject'|trans({'%username%': user.username}) }}
{% endautoescape %}
{% endblock %}

{% block body_text %}
{% autoescape false %}
{{ 'resetting.email.message'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}
{% endautoescape %}
{% endblock %}

{% block body_html %}
{% autoescape false %}
<p><img src="{{ absolute_url(asset('images/logo100.jpg')) }}" alt="Festival Audiovisual Escolar Olloboi" /></p>
<h1>Ola {{ user.username }},</h1>
<p>Podes restablecer o teu contrasinal seguindo esta ligazón:</p>
<p>{{ confirmationUrl }}</p>
<h1>Un saúdo!</h1>
<p>O equipo Olloboi</p>
{% endautoescape %}
{% endblock %}
