{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{# extends "FOSUserBundle::layout.html.twig" #}
{% extends "layout.html.twig" %}

{% block content %}
{{ parent() }}

	<section class="wrapper style2">
		<div class="inner">
		<h2><span class="fa fa-lock" style="color: #ED4933;"></span>
    Restablecer Contrasinal</h2>
			<p>Hai un anaco que solicitaches restablecer o teu contrasinal
				e que che enviamos un correo con instrucións para facelo.
				Por favor, revisa o teu buzón de correo electrónico
				e comproba que a nosa mensaxe non estea na bandexa de spam. Grazas :)</p>

</div>
</section>
{% endblock %}
