{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{% trans_default_domain 'FOSUserBundle' %}
<h2><span class="fa fa-lock" style="color: #ED4933;"></span>
Restablecer contrasinal</h2>
<p>Escribe o teu nome de usuari@ ou o teu correo electrónico e che enviaremos unha
 mensaxe para restablecer o teu contrasinal.</p>
  {{ form_start(form) }}
    <div>
        {{ form_widget(form) }}
    </div>
    <div>
        <br />
        <input type="submit" value="{{ 'resetting.request.submit'|trans }}" class="special"  />
    </div>
</form>

{#
  {% if invalid_username is defined %}
      <p>O nome de usuario (ou correo electrónico) introducido non é válido ou non existe na base de datos.</p>
  {% endif %}
#}
