{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{% trans_default_domain 'FOSUserBundle' %}

<h2><span class="fa fa-key" style="color: #ED4933;"></span>
Elixe un novo contrasinal</h2>
{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
{{ form_widget(form) }}
<br />
<input type="submit" value="{{ 'resetting.reset.submit'|trans }}" class="special" />
{{ form_end(form) }}
