{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{########################
<li>
  {% if app.user.contests %}
    {% for contest in app.user.contests %}
       <span title="{{ contest.name }}" class="fa fa-trophy" style="color:gold">{{ contest.name }}</span>
    {% endfor %}
  {% endif %}

</li>
##########################}




****************************   CONTROLADORES
// return $this->redirect($request->headers->get('referer'));



****************************   TWIG

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}


{% else %}
    <p>Para inscribir un vídeo no concurso cómpre iniciar sesión de usuari@.</p>
    <ul class="actions">
        <li><a href="/login" class="button special">Entrar</a></li>
    </ul>
{% endif %}



****************************   INCRUSTAR VÍDEOS DE YOUTUBE OU VIMEO CON JAVASCRIPT
****************************   MELLOR OU PEOR QUE ESCRIBIR O CÓDIGO EMBED???

/*
 * PRESENTA O REPRODUCTOR DE YOUTUBE OU VIMEO
 */
  {% if video.provider == "YOUTUBE" %}
        var tag = document.createElement('script');

        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        // 3. This function creates an <iframe> (and YouTube player) after the API code downloads.
        var player;
        function onYouTubeIframeAPIReady() {
          player = new YT.Player('player', {
            height: '180',
            width: '320',
            videoId: '{{ video.urlId }}',
          });
        }
  {% endif %}


{% if video.provider == "VIMEO" %}
      var videoUrl = 'http://www.vimeo.com/{{ video.urlId }}';
      // This is the oEmbed endpoint for Vimeo (we're using JSON)
      var endpoint = 'http://www.vimeo.com/api/oembed.json';
      // Tell Vimeo what function to call
      var callback = 'embedVideo';
      // Put together the URL
      var url = endpoint + '?url=' + encodeURIComponent(videoUrl) + '&callback=' + callback + '&width=320&height=180';
      // This function puts the video on the page
      function embedVideo(video) {
          document.getElementById('player').innerHTML = unescape(video.html);
      }
      // This function loads the data from Vimeo
      function init() {
          var js = document.createElement('script');
          js.setAttribute('type', 'text/javascript');
          js.setAttribute('src', url);
          document.getElementsByTagName('head').item(0).appendChild(js);
      }
      // Call our init function when the page loads
      window.onload = init;
{% endif %}
