{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{# /includes/videoDetalle.html.twig #}

{% if video %}
  <h2><span class="fa fa-film" style="color: #ED4933;"></span>
  {{ video.title }}
    {% if is_granted('ROLE_ADMIN') %}
      <a href="{{ path('video_editar', {'videoId': video.id}) }}">
      <span title="Editar" class="fa fa-edit" style="color: #ED4933;"></span></a>
      <span id="borrar" title="Borrar" class="fa fa-trash" style="color: #ED4933;"></span>
    {% endif %}
  </h2>

  {### PRESENTA O VÍDEO INCRUSTADO ###}
  <div id="player" style="height:190px">
  {% if video.provider == "VIMEO" %}
    <iframe src='https://player.vimeo.com/video/{{ video.urlId }}' width='320' height='180' frameborder='0' webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  {% else %}
    <iframe width="320" height="180" src="https://www.youtube.com/embed/{{ video.urlId }}" frameborder="0" allowfullscreen></iframe>
  {% endif %}
  </div>

  {### CALCULA SUMA DE LIKES, LOVES E COMPROBA AS MARCAS DO USUARIO ###}
  {% set likes, loves, score = 0, 0, 0 %}
  {% set liked, loved, seen = 0, 0, 0 %}

  {% if video.marks|length > 0 %}
    {% for mark in video.marks %}
        {% if mark.loved %} {% set loves = loves + 1 %} {% endif %}
        {% if mark.liked %} {% set likes = likes + 1 %} {% endif %}
        {% if mark.user == app.user %}
          {% if mark.loved %} {% set loved = 1 %} {% endif %}
          {% if mark.liked %} {% set liked = 1 %} {% endif %}
          {% if mark.seen %} {% set seen = 1 %} {% endif %}
        {% endif %}
    {% endfor %}
  {% endif %}

    <ul>
      {### FRECHAS DE NAVEGACIÓN ENTRE VÍDEOS ###}
      <a href="{{ path('video_navegar', {'videoId': video.id, 'target': 'backward' }) }}">
        <span class="fa fa-step-backward" title="Vídeo anterior" style="color: #ED4933;"></span></a>
      <a href="{{ path('video_navegar', {'videoId': video.id, 'target': 'random' }) }}">
        <span class="fa fa-random" title="Vídeo aleatorio" style="color: #ED4933;"></span></a>
      <a href="{{ path('video_navegar', {'videoId': video.id, 'target': 'forward' }) }}">
        <span class="fa fa-step-forward" title="Vídeo seguinte" style="color: #ED4933;"></span></a>

      {### ICONOS DE MARCADORES: SEEN, LIKE, LOVE, AWARD ###}
      {% if seen %}
        <span class="seen v{{ video.id }} fa fa-eye" title="Marcar como non visto"></span>
      {% else %}
        <span class="unseen v{{ video.id }} fa fa-eye-slash" title="Marcar como visto"></span>
      {% endif %}

      {% if liked %}
        <span class="liked v{{ video.id }} fa fa-star" title="({{ likes }}) Eliminar de favoritos"></span>
      {% else %}
        <span class="unliked v{{ video.id }} fa fa-star-o" title="({{ likes }}) Gardar como favorito"></span>
      {% endif %}

      {% if loved %}
        <span class="loved v{{ video.id }} fa fa-heart" title="({{ loves }}) Xa non me encanta :("></span>
      {% else %}
        <span class="unloved v{{ video.id }} fa fa-heart-o" title="({{ loves }}) Encántame!!"></span>
      {% endif %}

      {% if video.awards %}
        {% for award in video.awards %}
           <span title="{{ award.contest.name }} - {{ award.name }}" class="fa fa-trophy" style="color:gold"></span>
        {% endfor %}
      {% endif %}


      <li><b>Título:</b>
        {% if video.provider=="YOUTUBE" %}
            <a href="https://youtu.be/{{ video.urlId }}">
        {% elseif video.provider=="VIMEO" %}
            <a href="https://vimeo.com/{{ video.urlId }}">
        {% endif %}
        {{ video.title }}</a></li>

      <li><b>Duración:</b> {{ video.duration|date('i:s') }}</li>
      <li><b>Data de publicación:</b> {{ video.proUploadDate|date('d-m-Y') }}</li>
      <li><b>Data de inscrición:</b> {{ video.registrationDateTime|date('d-m-Y') }}</li>

      {% if video.username %}
        <li><b>Usuari@:</b> {{ video.username }}</li>
      {% endif %}

      {% if video.school %}
        <li><b>Centro educativo:</b> <a href="{{ path('escola', {'schoolId': video.school.id}) }}">{{ video.school }}</a></li>
      {% endif %}

      {% if video.educationLevel %}
        <li><b>Nivel Educativo:</b> {{ video.educationLevel }}</li>
      {% endif %}

      {% if video.description %}
        <li><b>Descrición, Sinopse e Créditos:</b> {{ video.description|raw }}</li>
      {% endif %}


      {### SÓ PARA ADMINISTRADORES ###}
      {% if is_granted('ROLE_ADMIN') %}
        {% if video.comments %}
          <li><b>Comentarios para a organización:</b> {{ video.comments|raw }}</li>
        {% endif %}


        <li><b>Estado:</b> <span id="status">{{ video.status }}
          {% if video.status == "INSCRITO" %}
            -<a href="{{ path('video_aceptar', {'videoId': video.id}) }}">
            <span title="Seleccionar" class="fa fa-check-square-o"  style="color: gold;"> Aceptar?</span></a>
          {% endif %}</span></li>

      {% endif %}
    </ul>

{### SELECCIONAR VIDEO PARA CONCURSO ###}
{# Se o usuario organiza un concurso aberto pode seleccionar ou deseleccionar o vídeo #}
  {% if app.user and app.user.contests|length > 0 %}
  <h3>Seleccionar a concurso</h3>
  <ul>
    {% for contest in app.user.contests %}
      {% if "now"|date('Y-m-d') > contest.awardsDate|date('Y-m-d') %}
        <li><a href="{{ path('concurso_ver', {'contestId': contest.id}) }}">{{ contest.name }}</a> -
          <span class="fa fa-times"  style="color: #ED4933;"> Inscrición pechada</span></li>
      {% else %}
        {% set participate = 0 %}
        {% for participation in video.participations %}
          {% if participation.contest == contest %}
            {% set participate = 1 %}
          {% endif %}
        {% endfor %}
        {% if participate == 0 %}
          <li><b><a href="{{ path('concurso_ver', {'contestId': contest.id}) }}">{{ contest.name }}</a></b> -
            <a href="{{ path('concurso_video_seleccionar', {'contestId': contest.id, 'videoId': video.id}) }}">
              <span title="Seleccionar" class="fa fa-check-square-o"  style="color: gold;"> Seleccionar?</span></a></li>
        {% else %}
          <li><b><a href="{{ path('concurso_ver', {'contestId': contest.id}) }}">{{ contest.name }}</a></b> -
            <span title="Seleccionado!!" class="fa fa-check"  style="color: lime;"> Seleccionado!!</span> -
            <a href="{{ path('concurso_video_deseleccionar', {'contestId': contest.id, 'videoId': video.id}) }}">
              <span title="Retirar" class="fa fa-trash"  style="color: #ED4933;"> Retirar?</span></a></li>
        {% endif %}
      {% endif %}

    {% endfor %}
    </ul>
  {% endif %}

{% endif %}
