{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

<script>
$(document).ready(function() {

    $('#borrar').click(function  () {
      if (confirm('Seguro que queres borrar este vídeo? Borraranse tamén as marcas, seleccións a concursos e premios que puidera ter asociados.')) {
         window.location.href='{{ path('video_borrar', {'videoId': video.id}) }}';
      }
    });

    $(document).on('click', 'span.v{{ video.id }}', function () {
        // Se o usuario non iniciou sesión. MELLORAR ESTE CÓDIGO...
        {% if not app.user %}
          window.location.assign("/login");
        {% else %}
          var markElement = this;
          var videoId = this.className.split(' ')[1].slice(1);
          var previousMark = this.className.split(' ')[0];

          var url = "{{ path('video_marcar', {'videoId': 'videoId', 'previousMark': 'markValue'}) }}";
          url = url.replace("videoId", videoId);
          url = url.replace("markValue", previousMark);

          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
              switch (previousMark){
                case "unliked":
                  markElement.className = "liked v" + videoId + " fa fa-star";
                  markElement.title = markElement.title.replace("Gardar como favorito", "Eliminar de favoritos");
                  break;
                case "liked":
                  markElement.className = "unliked v" + videoId + " fa fa-star-o";
                  markElement.title = markElement.title.replace("Eliminar de favoritos", "Gardar como favorito");
                  break;
                case "unloved":
                  markElement.className = "loved v" + videoId + " fa fa-heart";
                  markElement.title = markElement.title.replace("Encántame!!", "Xa non me encanta :(");
                  break;
                case "loved":
                  markElement.className = "unloved v" + videoId + " fa fa-heart-o";
                  markElement.title = markElement.title.replace("Xa non me encanta :(", "Encántame!!");
                  break;
                case "unseen":
                  markElement.className = "seen v" + videoId + " fa fa-eye";
                  markElement.title = "Marcar como visto";
                  break;
                case "seen":
                  markElement.className = "unseen v" + videoId + " fa fa-eye-slash";
                  markElement.title = "Marcar como non visto";
                  break;
              }
            }
          };
          xhttp.open("GET", url, true);
          xhttp.send();
        {% endif %}
    } );
} );








{% if video.status == "INSCRITO" %}
/*
 * AJAX: ACEPTA O VÍDEO
 */
function aceptar() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    //alert(this.readyState+" - "+this.status);
    if (this.readyState == 4 && this.status == 200) {
     document.getElementById("status").innerHTML = this.responseText;
    }
  };
  xhttp.open("GET", "{{ path('video_aceptar', {'videoId': video.id}) }}", true);
  xhttp.send();
}
{% endif %}

</script>
