{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{# app/Resources/views/email/user_new.email.twig #}

{% block content %}
{% autoescape false %}

<img src="{{ asset('images/logo100.jpg') }}" alt="Festival Audiovisual Escolar Olloboi" />
<h1>Usuario@ Borrad@: {{ user.username }} !</h1>

    <ul>
      <li><b>Nome de usuari@:</b> {{ user.username }}</li>
      <li><b>Correo-e:</b> {{ user.email }}</li>
      <li><b>Data de rexistro:</b> {{ user.registrationDateTime|date('d-m-Y') }}</li>
    </ul>
</p>


{% endautoescape %}

{% endblock content %}
