{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{# app/Resources/views/email/video_new.email.twig #}

{% block content %}
{% autoescape false %}
<img src="{{ absolute_url('/images/logo100.jpg') }}" alt="Festival Audiovisual Escolar Olloboi" />
<h1>Ola {{ user.username }} !</h1>

<h2>O teu vídeo inscribiuse correctamente!</h2>

<p>Nos próximos días revisaremos o vídeo para confirmar que se adapta
	 ás nosas <a href="{{ url('condicions_uso') }}">condicións de uso</a> e poñerémonos en contacto contigo para
	 comunicarche se foi aceptado ou se hai algunha cousa que revisar.</p>

<h3>Datos do vídeo inscrito:</h3>
<ul>
	<li><b>Título:</b>
    {% if video.provider=="YOUTUBE" %}
        <a href="https://youtu.be/{{ video.urlId }}">
    {% elseif video.provider=="VIMEO" %}
        <a href="https://vimeo.com/{{ video.urlId }}">
    {% endif %}
    {{ video.title }}</a></li>

  <li><b>Duración:</b> {{ video.duration|date('i:s') }}</li>
  <li><b>Data de publicación:</b> {{ video.proUploadDate|date('d-m-Y') }}</li>
  <li><b>Data de inscrición:</b> {{ video.registrationDateTime|date('d-m-Y') }}</li>

  {% if video.school %}
    <li><b>Centro educativo:</b> <a href="{{ url('escola', {'schoolId': video.school.id}) }}">{{ video.school }}</a></li>
  {% endif %}

  {% if video.educationLevel %}
    <li><b>Nivel Educativo:</b> {{ video.educationLevel }}</li>
  {% endif %}

  <li><b>Descrición, Sinopse e Créditos:</b> {{ video.description|raw }}</li>

  <li><b>Comentarios para a organización:</b> {{ video.comments|raw }}</li>

  <li><b>Estado:</b> <span id="status">{{ video.status }}</span></li>
</ul>

<p>Podes ver o listado dos teus vídeos inscritos e o seu estado no teu <a href="{{ url('fos_user_profile_show') }}">perfil de usuari@</a>.</p>


<h1>Moitas grazas!!</h1>
{#<p>O equipo Olloboi</p>#}

{% endautoescape %}
{% endblock %}
