{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{% extends "layout.html.twig" %}

{% block content %}
{{ parent() }}

<section id="one" class="wrapper style2">
	<div class="inner">

		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			<h2><span class="fa fa-edit" style="color: #ED4933;"></span>
				Editar vídeo</h2>
			<p>Edita o vídeo en nome de <strong><a href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}</a></strong></p>

			{### PRESENTA O VÍDEO INCRUSTADO ###}
				<div id="player" style="height:190px">
				{% if video.provider == "VIMEO" %}
					<iframe src='https://player.vimeo.com/video/{{ video.urlId }}' width='320' height='180' frameborder='0' webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				{% else %}
					<iframe width="320" height="180" src="https://www.youtube.com/embed/{{ video.urlId }}" frameborder="0" allowfullscreen></iframe>
				{% endif %}
				</div>

				<p>* Campos obrigatorios</p>

			{{ form_start(form) }}
				<div id="form_error">{{ form_errors(form) }}</div>

						{{ form_row(form.title) }}
						<p>O título do traballo. Por favor, emprega as maiúsculas con moderación :)</p>


						{{ form_row(form.username) }}
						<p>Usuari@ responsable do vídeo.<br />


						{{ form_row(form.educationLevel) }}
						<p>Nivel Educativo ao que pertence a meirande parte do equipo que traballou no vídeo.<br />
						O valor deste campo pode afectar ás categorías de premios ás que optará o traballo.<br />
						</p>


						{{ form_row(form.school) }}
						<p>Consulta o nome oficial do teu centro no
							<a href="https://www.edu.xunta.es/centroseducativos/" target="_blank">
								Buscador de Centros</a> da Consellería de Educación.<br/>
							Se o teu centro non está na lista, anota os seus datos no campo final de Comentarios.</p>


						{{ form_row(form.status) }}
						<p>?????Se cambias o estado comunicarase ao usuari@ responsable do vídeo mediante un Correo-e.<br />
						Tamén afectará á visibilidade do vídeo.</p>


						{{ form_row(form.description) }}
						<p>Esta información será a que se publique xunto ao vídeo.</p>


						{{ form_row(form.comments) }}
						<p>Engade calquera comentario sobre o traballo que de xeito privado queiras comunicar á organización.
							O seu contido será de uso interno e non se publicará.
						  Se o teu centro educativo non estaba na lista desplegable, anota aquí
							os seus datos (Nome, Dirección, Teléfono, Correo-e, Web, etc.).</p>


							<input id="btnEnviar" type="submit" value="Gardar cambios" class="special" />
					{{ form_end(form) }}

					<ul class="actions">
						<li><a href="" class="button special" onclick="window.history.back(); return false;">Voltar</a></li>
					</ul>

			{% else %}
					<ul class="icons major">
						<li><span class="icon fa-forward major style2"><span class="label">Ipsum</span></span></li>
					</ul>

					<p>Para editar un vídeo cómpre iniciar sesión de usuari@ administrador@.</p>
					<ul class="actions">
							<li><a href="/login" class="button special">Entrar</a></li>
					</ul>
			{% endif %}
		</div>
	</section>
{% endblock content %}




{% block javascripts %}
{{ parent() }}

{# USAMOS TINYMCE PARA OS TEXTAREA DE description E comments. #}
		<script src="{{ asset('assets/js/tinymce/tinymce.min.js') }}"></script>
		<script>tinymce.init({
			selector:'#video_edit_description, #video_edit_comments',
			plugins : 'advlist autolink link image lists charmap print preview code',
			height : 150,
			language: 'gl'
		});
		</script>
{% endblock javascripts %}
