{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{% extends "layout.html.twig" %}

{% block content %}
{{ parent() }}

		<section id="one" class="wrapper style2">
			<div class="inner">
				<h2><span class="fa fa-thumbs-o-up" style="color: #ED4933;"></span>
		    Vídeo inscrito correctamente!</h2>
				<p>Moitas grazas por participar en Olloboi! Nos próximos días revisaremos o vídeo
					para confirmar que se adapta ás condicións do sitio e poñerémonos en contacto contigo
					para comunicarche se foi aceptado ou se hai algunha cousa que revisar.</p>



					{{ include('/includes/videoDetalle.html.twig') }}



					<p>Podes ver o listado dos teus vídeos inscritos e o seu estado no teu
						<a href="{{ path('fos_user_profile_show') }}">perfil de usuari@</a>.</p>

					<ul class="actions">
						<li><a href="{{ path('fos_user_profile_show') }}" class="button special">Perfil de Usuari@</a></li>
						<li><a href="{{ path('video_novo') }}" class="button special">Inscribir outro vídeo</a></li>
					</ul>
		</div>
	</section>
{% endblock %}

{% block javascripts %}
{{ parent() }}

{{ include('/includes/videoDetalleScript.js.twig') }}

{% endblock javascripts %}
