{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{# video/list.html.twig #}
{% extends 'layout.html.twig' %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
<script>
$(document).ready(function() {
    $('#example').DataTable({
      {% if filter and filter == "last" %}
			   "order": [[ 4, "desc" ]],
      {% else %}
         "order": [[ 0, "desc" ]],
      {% endif %}
      {{ include('/includes/datatables.gl.js.twig') }}
		}	);



    {### AJAX - MARCADORES - ONCLICK - Afecta só aos elementos da táboa ###}
    $(document).on('click', 'td span', function () {
        // Se o usuario non iniciou sesión. MELLORAR ESTE CÓDIGO...
        {% if not app.user %}
          window.location.assign("/login");
        {% else %}
          var markElement = this;
          var videoId = this.className.split(' ')[1].slice(1);
          var previousMark = this.className.split(' ')[0];

          var url = "{{ path('video_marcar', {'videoId': 'videoId', 'previousMark': 'markValue'}) }}";
          url = url.replace("videoId", videoId);
          url = url.replace("markValue", previousMark);

          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
              switch (previousMark){
                case "unliked":
                  markElement.className = "liked v" + videoId + " fa fa-star";
                  break;
                case "liked":
                  markElement.className = "unliked v" + videoId + " fa fa-star-o";
                  break;
                case "unloved":
                  markElement.className = "loved v" + videoId + " fa fa-heart";
                  break;
                case "loved":
                  markElement.className = "unloved v" + videoId + " fa fa-heart-o";
                  break;
                case "unseen":
                  markElement.className = "seen v" + videoId + " fa fa-eye";
                  break;
                case "seen":
                  markElement.className = "unseen v" + videoId + " fa fa-eye-slash";
                  break;
              }
            }
          };
          xhttp.open("GET", url, true);
          xhttp.send();
        {% endif %}
    } );
} );

function verVideo(id) {
  var ruta = "/videos/ver/"+id;
  location.href = ruta;
}


function filtrar() {
  var ruta = "/videos?filter="+document.getElementById("filter").value;
  location.href = ruta;
}

</script>
{% endblock javascripts %}



{% block content %}
{{ parent() }}

<section id="videos" class="wrapper style2">
	<div class="inner">
		<h2><span class="fa fa-film" style="color: #ED4933;"></span>
    Vídeos</h2>

    {### FILTROS DO LISTADO (A NIVEL DO SERVIDOR) ###}
		<p>
      <select id="filter" onchange="filtrar();">
        <option value="awarded" {% if filter == "best" %} selected {% endif %}>Os vídeos premiados</option>
        <option value="last" {% if filter == "last" %} selected {% endif %}>Últimos 100 vídeos engadidos</option>
        <option value="all" {% if filter == "all" %} selected {% endif %}>Todos os vídeos</option>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <option value="liked" {% if filter == "liked" %} selected {% endif %}>Os meus vídeos favoritos</option>
        <option value="loved" {% if filter == "loved" %} selected {% endif %}>Os vídeos que me encantan</option>
        <option value="notseen" {% if filter == "notseen" %} selected {% endif %}>Vídeos que aínda non vin</option>
        {% endif %}
      </select>
    </p>

{% if videos %}
			<div class="table-wrapper">
				<table id="example" class="compact stripe hover row-border order-column nowrap" cellspacing="0" width="100%">
					<thead>
						<tr>
              <th>
                {% if is_granted('ROLE_ADMIN') %}
                    <span title="Editar" class="fa fa-edit"></span>
                {% endif %}
                <span title="Visto" class="fa fa-eye seen"></span>
                <span title="Favorito" class="fa fa-star liked"></span>
                <span title="Encántame!!" class="fa fa-heart loved"></span>
                <span title="Premios" class="fa fa-trophy trophy"></span>
              </th>


              {% if not filter or filter == "awarded" %}
                {# LISTADO POR DEFECTO DE VÍDEOS PREMIADOS #}
                <th></th>
                <th></th>
                <th></th>

              {% else %}
                {# OUTROS LISTADOS #}
  							<th>Título</th>
  							<th>Nivel Educativo</th>
                <th>Duración</th>
                {% if filter and filter == "last" %}
                  <th>Data Rexistro</th>
                {% else %}
  							  <th>Data Subida</th>
                {% endif %}
              {% endif %}



						</tr>
					</thead>
					<tbody>
	{% for video in videos %}
				      <tr>
                {### CALCULA SUMA DE LIKES, LOVES E COMPROBA AS MARCAS DO USUARIO ###}
                {% set likes, loves = 0, 0 %}
                {% set liked, loved, seen = 0, 0, 0 %}

                {% if video.marks %}
                  {% for mark in video.marks %}
                      {% if mark.loved %} {% set loves = loves + 1 %} {% endif %}
                      {% if mark.liked %} {% set likes = likes + 1 %} {% endif %}
                      {% if mark.user == app.user %}
                        {% if mark.loved %} {% set loved = 1 %} {% endif %}
                        {% if mark.liked %} {% set liked = 1 %} {% endif %}
                        {% if mark.seen %} {% set seen = 1 %} {% endif %}
                      {% endif %}
                  {% endfor %}
                {% endif %}

                {### ESTABLECE O CRITERIO DE ORDENACIÓN DAS MARCAS ###}
                {% set order = video.awards|length ~ loves ~ likes %}
                <td data-order="{{ order }}" style="vertical-align: middle">
                  {% if is_granted('ROLE_ADMIN') %}
                      <a href="{{ path('video_editar', {'videoId': video.id}) }}">
                      <span class="fa fa-edit"></span></a>
                  {% endif %}
                  {% if seen %}
                    <span class="seen v{{ video.id }} fa fa-eye"></span>
                  {% else %}
                    <span class="unseen v{{ video.id }} fa fa-eye-slash"></span>
                  {% endif %}

                  {% if liked %}
                    <span class="liked v{{ video.id }} fa fa-star" title="({{ likes }})"></span>
                  {% else %}
                    <span class="unliked v{{ video.id }} fa fa-star-o" title="({{ likes }})"></span>
                  {% endif %}

                  {% if loved %}
                    <span class="loved v{{ video.id }} fa fa-heart" title="({{ loves }})"></span>
                  {% else %}
                    <span class="unloved v{{ video.id }} fa fa-heart-o" title="({{ loves }})"></span>
                  {% endif %}

                  {% if video.awards %}
                    {% for award in video.awards %}
                       <span title="{{ award.contest.name }} - {{ award.name }}" class="fa fa-trophy trophy"></span>
                    {% endfor %}
                  {% endif %}


                  {% if not filter or filter == "awarded" %}
                    {# LISTADO POR DEFECTO DE VÍDEOS PREMIADOS #}
                    <td data-order="{{ video.title }}">
                      <a href="{{ path('video_ver', {'videoId': video.id}) }}">
                        <img src="{{ video.urlThumbnail }}" width="100" height="75" alt="{{ video.title }}" />
                      </a>
                    </td>
                    <td data-order="{{ video.title }}" style="vertical-align: middle; text-align: center">
                      <a href="{{ path('video_ver', {'videoId': video.id}) }}">
                        {{ video.title }}
                      </a>
                    </td>
                    <td style="vertical-align: middle; text-align: center">
                      <a href="{{ path('escola', {'schoolId': video.school.id}) }}">
                        {{ video.school }}
                      </a>
                    </td>

                  {% else %}
                    {# OUTROS LISTADOS #}
                    </td>
    								<td data-order="{{ video.title }}">
    									<a href="{{ path('video_ver', {'videoId': video.id}) }}">
    										{{ video.title }}
    									</a>
    								</td>

                    {% if video.educationLevel %}
                      <td data-order="{{ video.educationLevel.id }}">{{ video.educationLevel }}</td>
                    {% else %}
                      <td data-order="-1"></td>
                    {% endif %}

    								<td>{{ video.duration|date('i:s') }}</td>

                    {% if filter and filter == "last" %}
                      <td data-order="{{ video.registrationDateTime|date('Y-m-d') }}">{{ video.registrationDateTime|date('d-m-Y') }}</td>
                    {% else %}
                      <td data-order="{{ video.proUploadDate|date('Y-m-d') }}">{{ video.proUploadDate|date('d-m-Y') }}</td>
                    {% endif %}
                  {% endif %}



							</tr>
	{% endfor %}
					</tbody>
					<tfoot>
						<tr>
						</tr>
					</tfoot>
				</table>
			</div>

{% else %}
			<p>Aínda non hai vídeos inscritos.</p>
{% endif %}

<ul class="actions">
	<li><a href="{{ path('video_novo') }}" class="button special">Inscribir Vídeo</a></li>
	<li><a href="" class="button special" onclick="window.history.back(); return false;">Voltar</a></li>
</ul>

</div>
</section>

{% endblock content %}
