{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{% extends "layout.html.twig" %}

{% block content %}
{{ parent() }}
		<section id="one" class="wrapper style2">
			<div class="inner">

				<h2><span class="fa fa-video-camera" style="color: #ED4933;"></span>
		    Inscribe un vídeo</h2>
				<p>Rexistrando un traballo a nome de <strong><a href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}</a></strong>.</p>

				{% if video.status == "EXISTE" %}
				{### PRESENTA O VÍDEO INCRUSTADO ###}
				  <div id="player" style="height:190px">
				  {% if video.provider == "VIMEO" %}
				    <iframe src='https://player.vimeo.com/video/{{ video.urlId }}' width='320' height='180' frameborder='0' webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				  {% else %}
				    <iframe width="320" height="180" src="https://www.youtube.com/embed/{{ video.urlId }}" frameborder="0" allowfullscreen></iframe>
				  {% endif %}
				  </div>
				{% endif %}

				<p>* Campos obrigatorios</p>

				{{ form_start(form) }}
					<div id="form_error">{{ form_errors(form) }}</div>
		{% if video.status != "EXISTE" %}

					{{ form_row(form.url) }}
					<p>Dirección web do vídeo en Vimeo ou Youtube.</p>
					{{ form_widget(form.educationLevel, {'attr': {'style': 'display:none'}}) }}
					{{ form_widget(form.school, {'attr': {'style': 'display:none'}}) }}
					{{ form_widget(form.username, {'attr': {'style': 'display:none'}}) }}
					<input id="btnEnviar" type="submit" value="Enviar Vídeo" class="special" />
		{% else %}
				{{ form_row(form.title) }}
					<p>O título do traballo. <br />
					Este dato extráese automáticamente de YouTube ou Vimeo, aínda que sempre o podes modificar. <br />
					Por favor, emprega as maiúsculas con moderación :)</p>

					<div class="6u 12u$(xsmall)">
					{{ form_row(form.educationLevel) }}
					</div>
					<p>Nivel educativo ao que pertence a meirande parte do equipo que traballou no vídeo.<br />
					Se están involucrados varios niveis educativos
					ou consideras que esta información non é aplicable ao teu traballo,
					elixe a última opción e detalla o teu caso no campo final de Comentarios.</p>

					{{ form_row(form.school) }}
					<p>Centro educativo de procedencia do vídeo.<br/>
					Só é posible indicar un centro. Se o traballo é o resultado da colaboración de varios,
					podes indicar aquí o centro coordinador ou principal e o resto no campo de créditos.<br />
					Este dato extráese automáticamente do teu perfil de usuari@. Se non é correcto podes modificalo aquí ou no teu perfil.<br />
					Consulta o nome oficial do teu centro no
						<a href="https://www.edu.xunta.es/centroseducativos/" target="_blank">
						Buscador de Centros</a> da Consellería de Educación.<br/>
					Se o teu centro non está na lista, anota os seus datos no campo final de Comentarios.</p>

					{{ form_widget(form.username, {'attr': {'style': 'display:none'}}) }}

					{{ form_row(form.description) }}
					<p>Descrición do traballo e dos seus créditos.<br />
					Esta información será a que se publique xunto ao vídeo. Extráese automáticamente de YouTube ou Vimeo, aínda que sempre o podes modificar.</p>

					{{ form_row(form.comments) }}
					<p>Engade calquera comentario sobre o traballo que de xeito privado queiras comunicar á organización.
					O seu contido será de uso interno e non se publicará.
					Se o teu centro educativo non estaba na lista desplegable, anota aquí
						os seus datos (Nome, Dirección, Teléfono, Correo-e, Web, etc.).</p>

					<p><b>Ao pulsar o botón estás a aceptar as <a href="{{ path('condicions_uso') }}">Condicións de Uso</a>.</b></p>
					<input id="btnEnviar" type="submit" value="Inscribir Vídeo" class="special" />

	{% endif %}

				{{ form_end(form) }}

				<ul class="actions">
					<li><a href="" class="button special" onclick="window.history.back(); return false;">Voltar</a></li>
				</ul>

		</div>
	</section>
{% endblock content %}


{% block javascripts %}
{{ parent() }}

{# SE O VÍDEO TEN ESTADO ENTÓN ESTAMOS NO PASO 2. #}
{% if video.status %}

{# USAMOS TINYMCE PARA OS TEXTAREA DE description E comments. #}
		<script src="{{ asset('assets/js/tinymce/tinymce.min.js') }}"></script>
		<script>tinymce.init({
			selector:'#video_description, #video_comments',
			plugins : 'advlist autolink link image lists charmap print preview code',
			height : 150,
			language: 'gl'
		});
		</script>
	{% endif %}
{% endblock javascripts %}
