{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{% extends "layout.html.twig" %}

{% block content %}
{{ parent() }}

		<section id="one" class="wrapper style2">
			<div class="inner">


				{{ include('/includes/videoDetalle.html.twig') }}


			<ul class="actions">
					<li><a href="{{ path('video_novo') }}" class="button special">Inscribir un Vídeo</a></li>
					<li><a href="" class="button special" onclick="window.history.back(); return false;">Voltar</a></li>
				</ul>

		</div>
	</section>
{% endblock content %}


{% block javascripts %}
{{ parent() }}

{{ include('/includes/videoDetalleScript.js.twig') }}

{% endblock javascripts %}
