{# Copyright 2017 Óscar Núñez Aguado
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation <http://www.gnu.org/licenses/> #}

{# admin/user/show.html.twig #}
{% extends "layout.html.twig" %}

{% block content %}
{{ parent() }}

<section id="usuarios" class="wrapper style2">
	<div class="inner">

			<h2>{{ user.username }}
				<a href="{{ path('borrar_usuario', {'userId': user.id} ) }}">
				<span class="icon fa-trash" style="color: #ED4933;"></span>
				</a>
			</h2>


			{##############  INFORMACIÓN BÁSICA ################}
		  <ul>
				<li><b>Nome:</b> {{ user.name }} {{ user.surname }}</li>
				<li><b>Correo-e:</b> <a href="mailto:{{ user.email }}">{{ user.email }}</a></li>
				<li><b>Correo-e 2:</b> <a href="mailto:{{ user.email2 }}">{{ user.email2 }}</a></li>
				<li><b>Correo-e 3:</b> <a href="mailto:{{ user.email3 }}">{{ user.email3 }}</a></li>
				<li><b>Teléfono:</b> {{ user.phone }}</li>
				<li><b>Web:</b> <a href="{{ user.web }}">{{ user.web }}</a></li>

				{% if user.school and user.school.id != 0 %}
				   <li><b>Centro educativo:</b> <a href="{{ path('escola', {'schoolId': user.school.id}) }}">{{ user.school }}</a></li>
			  {% endif %}

				<li><b>Recibir notificacións?</b> {{ user.notification ? 'Sí' : 'Non' }}</li>
				{#<li><b>Data Rexistro:</b> {{ user.registrationDateTime }}</li>
				<li><b>Último acceso:</b> {{ user.lastLogin }}</li>#}

					{##############  ROLES: ENGADIR E QUITAR ################}
					<li><b>Roles:</b>
						{% set admin, teacher = 0,0 %}
						{% for rol in user.roles %}
							{% if rol == "ROLE_ADMIN" %}
									{% set admin = 1 %}
							{% endif %}
							{% if rol == "ROLE_TEACHER" %}
									{% set teacher = 1 %}
							{% endif %}
						{% endfor %}

					<span title="Usuari@" class="icon fa-user" style="color: lime;"></span>
					{% if teacher %}
						<a href="{{ path('rol_usuario', {'userId': user.id, 'role': 'removeTeacher'}) }}">
							<span title="Profe" class="icon fa-graduation-cap" style="color: gold;"></span>
						</a>
					{% else %}
						<a href="{{ path('rol_usuario', {'userId': user.id, 'role': 'addTeacher'}) }}">
							<span title="Profe" class="icon fa-graduation-cap" style="opacity: 0.3;"></span>
						</a>
					{% endif %}
					{% if admin %}
						<a href="{{ path('rol_usuario', {'userId': user.id, 'role': 'removeAdmin'}) }}">
							<span title="Admin" class="icon fa-institution" style="color: silver;"></span>
						</a>
					{% else %}
						<a href="{{ path('rol_usuario', {'userId': user.id, 'role': 'addAdmin'}) }}">
							<span title="Admin" class="icon fa-institution" style="opacity: 0.2;"></span>
						</a>
					{% endif %}
				</li>


		  </ul>

			{##############  MARCAS REALIZADAS  ################}
			{% if  user.marks and user.marks|length > 0 %}
				<h3>Vídeos marcados: {{ user.marks|length }}</h3>
			{% endif %}


			{##############  CONCURSOS ORGANIZADOS  ################}
			{% if  user.contests and user.contests|length > 0 %}
			  {# Si el usuario organiza un concurso abierto puede seleccionar o deseleccionar el vídeo #}
			  <h3>Concursos organizados ({{ user.contests|length }})</h3>
			  <ul>
			  {% for contest in user.contests %}
			    <li><a href="{{ path('concurso_ver', {'contestId': contest.id}) }}">{{ contest.name }}</a></li>
			  {% endfor %}
			</ul>
			{% endif %}

			{########### VIDEOS INSCRITOS POLO USUARIO ###########}
			{% if user.videos and user.videos|length > 0 %}
			  <h3>Vídeos Inscritos ({{ user.videos|length }})</h3>
						<div class="table-wrapper">
							<table id="example" class="compact stripe hover row-border order-column nowrap" cellspacing="0" width="100%">
								<thead>
									<tr>
			              {#<th></th>#}
			              <th>
			                {% if is_granted('ROLE_ADMIN') %}
			                    <span title="Editar" class="fa fa-edit"></span>
			                {% endif %}
			                <span title="Visto" class="fa fa-eye" style="color:navy"></span>
			                <span title="Favorito" class="fa fa-star" style="color:gold"></span>
			                <span title="Encántame!!" class="fa fa-heart" style="color:red"></span>
			                <span title="Premios" class="fa fa-trophy" style="color:gold"></span>
			              </th>
										<th>Título</th>
										<th>Estado</th>
			              <th>Duración</th>
										<th>Data Inscrición</th>
									</tr>
								</thead>
								<tbody>
				{% for video in user.videos %}
							      <tr>
			                {### CALCULA SUMA DE LIKES, LOVES E COMPROBA AS MARCAS DO USUARIO ###}
			                {% set likes, loves = 0, 0 %}
			                {% set liked, loved, seen = 0, 0, 0 %}

			                {% if video.marks %}
			                  {% for mark in video.marks %}
			                      {% if mark.loved %} {% set loves = loves + 1 %} {% endif %}
			                      {% if mark.liked %} {% set likes = likes + 1 %} {% endif %}
			                      {% if mark.user == app.user %}
			                        {% if mark.loved %} {% set loved = 1 %} {% endif %}
			                        {% if mark.liked %} {% set liked = 1 %} {% endif %}
			                        {% if mark.seen %} {% set seen = 1 %} {% endif %}
			                      {% endif %}
			                  {% endfor %}
			                {% endif %}

			                {### ESTABLECE O CRITERIO DE ORDENACIÓN DAS MARCAS ###}
			                {% set order = loves ~ likes ~ video.awards|length %}
			                <td data-order="{{ order }}">
			                  {% if seen %}
			                    <span class="seen v{{ video.id }} fa fa-eye" title="Marcar como non visto"></span>
			                  {% else %}
			                    <span class="unseen v{{ video.id }} fa fa-eye-slash" title="Marcar como visto"></span>
			                  {% endif %}

			                  {% if liked %}
			                    <span class="liked v{{ video.id }} fa fa-star" title="({{ likes }}) Eliminar de favoritos"></span>
			                  {% else %}
			                    <span class="unliked v{{ video.id }} fa fa-star-o" title="({{ likes }}) Gardar como favorito"></span>
			                  {% endif %}

			                  {% if loved %}
			                    <span class="loved v{{ video.id }} fa fa-heart" title="({{ loves }}) Xa non me encanta :("></span>
			                  {% else %}
			                    <span class="unloved v{{ video.id }} fa fa-heart-o" title="({{ loves }}) Encántame!!"></span>
			                  {% endif %}

			                  {% if video.awards %}
			                    {% for award in video.awards %}
			                       <span title="{{ award.contest.name }} - {{ award.name }}" class="fa fa-trophy" style="color:gold"></span>
			                    {% endfor %}
			                  {% endif %}

			                </td>
											<td data-order="{{ video.title }}" data-search="{{ video.title }}">
												<a href="{{ path('video_ver', {'videoId': video.id}) }}" title="{{ video.description|e }}">
													{{ video.title }}
												</a>
											</td>
			                <td>
													{{ video.status }}
											</td>

											<td>{{ video.duration|date('i:s') }}</td>
			                <td data-order="{{ video.registrationDateTime|date('Y-m-d') }}">{{ video.registrationDateTime|date('d-m-Y') }}</td>
										</tr>
				{% endfor %}
								</tbody>
								<tfoot>
									<tr>
									</tr>
								</tfoot>
							</table>
						</div>
			{% else %}
						<h3>@ usuari@ aínda non ten vídeos inscritos.</h3>
			{% endif %}





			{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			{#<ul class="actions">
					<li><a href="/admin/user/edit" class="button special">Editar</a></li>
			</ul>#}
			<ul class="actions">
				<li><a href="" class="button special" onclick="window.history.back(); return false;">Voltar</a></li>
			</ul>

			{% endif %}
		</div>
	</section>
</article>
{% endblock %}
